In [2]:
#Importando las Librerias en principio mas necesarias para este primer paso de generar un Tablon 
#Este Tablon estará compuesto por diferentes Dataframes, que deberemos "merger" en uno solo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as py
%matplotlib inline

In [4]:
#Datos de accesibilidad 
accesibilidad = '/home/vant/Escritorio/TFM/accesibilidad.csv'

In [5]:
#leyendo el archivo y comprobando el numero de lineas de este
%%time

!cat {accesibilidad} |wc -l

284
CPU times: user 10.8 ms, sys: 3.82 ms, total: 14.7 ms
Wall time: 115 ms

In [46]:
#Viendo y comprobando el archivo con la linea de comandos. Warning! tiene lineas de texto con descripcion
#Las columnas son temporales y van desde el 2009 al 2005
#Vamos a tener que seleccionar las lineas validas para montar el Dataframe, que va a estar compuesto por municipios
#Hay que contar las lineas que son solo municipios para poder componer el Dataframe correctamente: -251

!cat {accesibilidad} | tail -2

In [42]:
#creando el primer dataframe con pandas (hay un problema de unicode decode error utf-8)

pd.options.display.max_columns=None

df_accesibilidad = pd.read_csv(accesibilidad, sep=';', encoding='latin-1', skiprows= 33)
df_accesibilidad.head(3)

,Código municipio,Municipio,2009,2008,2007,2006,2005
0,48001,Abadiño,"43,75","43,75","43,75","43,75","43,75"
1,20001,Abaltzisketa,"25,00","25,00","50,00","50,00","50,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"30,77","24,00","23,08","23,08","23,08"

In [47]:
accidentes_trafico = '/home/vant/Escritorio/TFM/accidentetrafic.csv'
df_accident_trafico = pd.read_csv(accidentes_trafico, sep=';', encoding='latin-1', skiprows= 33)
df_accident_trafico.head(3)

#empezamos a ver el primer problema con los datos: los datos temporales difieren
#habra que seleccionar el ultimo año disponile en aquellos que sean mas actualizados como este de 2017 (usecols)
#y en aquellos que no tengamos datos tan actualizados, hacer una media de ellos

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"14,08","10,90","11,56","10,03","7,49","10,24","10,89","7,66","8,65","8,71","9,62","10,21","13,71","13,28","15,26"
1,20001,Abaltzisketa,"3,07","6,12","6,12","21,24","3,03","6,12","3,10","15,43","0,00","9,46","6,43","3,33","3,45","3,55","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"11,51","9,27","10,83","9,15","12,65","10,07","12,05","11,42","9,60","13,19","13,63","13,95","16,32","17,22","21,18"

In [68]:
#Nos descargamos archivos .zip con diferentes archivos .csv relacionados con la informacion original
#Hemos extraido estos archivos .zip en sus carpetas para generar nuevos archivos con informacion necesaria

calidad_agua_consumo = '/home/vant/Escritorio/TFM/aguayaire/Calificacion sanitaria del agua de consumo.csv'
df_calidad_agua_consumo = pd.read_csv(calidad_agua_consumo, sep=';', encoding='latin-1', skiprows= 4)
df_calidad_agua_consumo.head(3)

,Código municipio,Municipio,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"3,00","3,00","3,00","3,00","3,00","2,00","2,00","2,00","2,00","2,00","2,00","1,00","2,00","1,00"
1,20001,Abaltzisketa,"3,00","3,00","1,00","3,00","3,00","3,00","3,00","3,00","3,00","3,00","3,00","2,00","2,00","2,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"3,00","3,00","3,00","3,00","3,00","3,00","3,00","3,00","3,00","3,00","3,00","3,00","3,00","3,00"

In [74]:
demanda_agua = '/home/vant/Escritorio/TFM/aguayaire/Demanda total de agua por habitante y dia (l_hab._dia).csv'
df_demanda_agua = pd.read_csv(demanda_agua, sep=';', encoding='latin-1', skiprows= 33)
df_demanda_agua.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2012,2011,2001
0,48001,Abadiño,"173,90","176,02","175,17","176,79","185,59","145,52","203,51"
1,20001,Abaltzisketa,"151,23","154,01","141,22","152,31","155,34","154,65","244,71"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"174,27","176,02","178,02","178,40","183,94","184,19","255,26"

In [73]:
calidad_aire = '/home/vant/Escritorio/TFM/aguayaire/Dias con calidad del aire buena o admisible (%).csv'
df_calidad_aire = pd.read_csv(calidad_aire, sep=';', encoding='latin-1', skiprows= 33)
df_calidad_aire.head(3)

,Código municipio,Municipio,2013,2012,2011,2010,2009,2008,2007,2006,2005
0,48001,Abadiño,"98,90","98,89","98,08","99,73","96,44","92,08","85,48","76,44","87,40"
1,20001,Abaltzisketa,"99,18","99,18","96,99","99,18","96,71","95,63","86,85","86,30","88,74"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"99,45","98,30","97,53","99,73","98,08","95,90","92,88","86,30","91,78"

In [76]:
alumbrado = '/home/vant/Escritorio/TFM/alumbrado.csv'
df_alumbrado = pd.read_csv(alumbrado, sep=';', encoding='latin-1', skiprows= 33)
df_alumbrado.head(3)

,Código municipio,Municipio,2009,2008,2007,2006,2005
0,48001,Abadiño,"185,36","186,64","188,27","182,63","182,05"
1,20001,Abaltzisketa,"269,94","278,48","305,99","164,47","149,15"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"250,51","165,85","161,32","161,31","325,15"

In [77]:
antiguedad_vivienda = '/home/vant/Escritorio/TFM/antiguedadmediavivienda.csv'
df_antiguedad_vivienda = pd.read_csv(antiguedad_vivienda, sep=';', encoding='latin-1', skiprows= 33)
df_antiguedad_vivienda.head(3)

,Código municipio,Municipio,2016,2015,2014,2013,2011,2010,2006,2001,1996,1991
0,48001,Abadiño,"43,90","33,60","32,70","32,30","32,70","33,40","30,87","29,47","26,51","24,32"
1,20001,Abaltzisketa,"52,00","41,60","40,60","39,60","39,10","37,60","32,96","28,36","29,04","77,04"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"88,80","41,90","40,70","39,70","38,60","37,00","35,08","33,33","29,89","34,53"

In [82]:
aseos_publicos = '/home/vant/Escritorio/TFM/aseos.csv'
df_aseos_publicos = pd.read_csv(aseos_publicos, sep=';', encoding='latin-1', skiprows= 33)
df_aseos_publicos.head(3)

#se entiende que es un aseo publico por cada x habitantes

,Código municipio,Municipio,2009,2008,2007,2006,2005
0,48001,Abadiño,"0,00","0,00","0,00","0,00","0,00"
1,20001,Abaltzisketa,"0,00","63,29","31,55","65,79","67,80"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"0,00","0,00","0,00","2,08","2,08"

In [81]:
bibliotecas = '/home/vant/Escritorio/TFM/biblios.csv'
df_bibliotecas = pd.read_csv(bibliotecas, sep=';', encoding='latin-1', skiprows= 33)
df_bibliotecas.head(3)

#se entiende que es una biblioteca por cada x habitantes

,Código municipio,Municipio,2017,2016,2015,2014,2013,2011,2010,2009,2008,2004
0,48001,Abadiño,"6,35","6,19","6,04","5,91","5,83","5,55","5,03","4,55","4,26","2,45"
1,20001,Abaltzisketa,"24,52","24,12","23,19","22,44","22,29","20,67","0,00","0,00","0,00","7,14"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"3,42","3,27","3,09","2,98","2,89","2,76","2,67","2,63","1,21","2,28"

In [84]:
bidegorris = '/home/vant/Escritorio/TFM/bidegorris.csv'
df_bidegorris = pd.read_csv(bidegorris, sep=';', encoding='latin-1', skiprows= 33)
df_bidegorris.head(3)

# x kms de bidegorris por cada municipio

,Código municipio,Municipio,2009,2008,2007,2006,2005
0,48001,Abadiño,"0,00","0,00","0,00","0,00","0,00"
1,20001,Abaltzisketa,"0,00","0,00","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"9,77","9,85","7,29","6,24","5,72"

In [86]:
gasto_presup_servicios_sociales = '/home/vant/Escritorio/TFM/bienestar/Gasto corriente del presupuesto municipal per capita en Servicios Sociales ().csv'
df_gasto_presup_servicios_sociales = pd.read_csv(gasto_presup_servicios_sociales, sep=';', encoding='latin-1', skiprows= 10)
df_gasto_presup_servicios_sociales.head(3)

,Código municipio,Municipio,2005,2004,2003,2002
0,48001,Abadiño,"44,28","39,61","25,16","24,66"
1,20001,Abaltzisketa,"49,18","66,14","67,50","49,88"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"92,71","75,09","58,33","57,10"

In [87]:
gasto_percap_serv_soc = '/home/vant/Escritorio/TFM/bienestar/Gasto total per capita en Servicios Sociales ().csv'
df_gasto_percap_serv_soc = pd.read_csv(gasto_percap_serv_soc, sep=';', encoding='latin-1', skiprows= 33)
df_gasto_percap_serv_soc.head(3)

,Código municipio,Municipio,2005,2004,2003,2002
0,48001,Abadiño,"212,71","208,32","169,46","152,29"
1,20001,Abaltzisketa,"261,93","366,07","261,05","218,99"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"480,39","414,24","335,83","317,57"

In [89]:
plazas_res_tercera_edad = '/home/vant/Escritorio/TFM/bienestar/Plazas en centros residenciales para la 3 edad ( habitantes de 65 y mas anos).csv'
df_plazas_res_tercera_edad = pd.read_csv(plazas_res_tercera_edad, sep=';', encoding='latin-1', skiprows= 33)
df_plazas_res_tercera_edad.head(3)

,Código municipio,Municipio,2016,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
1,20001,Abaltzisketa,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"56,53","60,04","61,35","61,39","61,47","61,39","60,51","61,63","61,67","41,59"

In [90]:
plazas_res_discapacitadas = '/home/vant/Escritorio/TFM/bienestar/Plazas en centros residenciales para personas discapacitadas ( habitantes).csv'
df_plazas_res_discapacitadas = pd.read_csv(plazas_res_discapacitadas, sep=';', encoding='latin-1', skiprows= 33)
df_plazas_res_discapacitadas.head(3)

,Código municipio,Municipio,2016,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"9,17","9,34","9,44","9,44","9,50","9,59","9,66","9,63","9,68","9,81"
1,20001,Abaltzisketa,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"

In [91]:
grado_ocupacion_residencias = '/home/vant/Escritorio/TFM/bienestar/Grado de ocupacion de los centros residenciales (3 edad y personas con discapacidad) (%).csv'
df_grado_ocupacion_residencias = pd.read_csv(grado_ocupacion_residencias, sep=';', encoding='latin-1', skiprows= 33)
df_grado_ocupacion_residencias.head(3)

,Código municipio,Municipio,2016,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"100,00","98,55","100,00","100,00","100,00","100,00","100,00","100,00","100,00","100,00"
1,20001,Abaltzisketa,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"145,16","84,95","90,32","88,17","86,02","78,49","91,40","96,77","100,00","100,00"

In [92]:
tasa_bruta_natalidad = '/home/vant/Escritorio/TFM/brutanatalidad.csv'
df_tasa_bruta_natalidad = pd.read_csv(tasa_bruta_natalidad, sep=';', encoding='latin-1', skiprows= 33)
df_tasa_bruta_natalidad.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,48001,Abadiño,"9,04","10,23","10,76","10,79","10,96","13,06","12,52","11,49","12,90","14,25","11,72","10,21","10,78","12,71","9,27","9,03"
1,20001,Abaltzisketa,"3,06","6,13","0,00","21,28","0,00","3,10","15,48","6,17","18,69","6,31","19,29","23,33","10,34","17,73","10,68","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"6,29","7,53","6,04","7,45","8,33","8,55","8,44","8,44","9,29","9,76","10,51","9,68","9,00","11,80","10,70","9,40"

In [93]:
aforo_cines = '/home/vant/Escritorio/TFM/calidaddevida/Aforo de cines (butacas por  habitantes).csv'
df_aforo_cines = pd.read_csv(aforo_cines, sep=';', encoding='latin-1', skiprows= 33)
df_aforo_cines.head(3)

   Código municipio                          Municipio  2009  2008  2007
0             48001                            Abadiño  0,00  0,00  0,00
1             20001                       Abaltzisketa  0,00  0,00  0,00
2             48002  Abanto y Ciérvana-Abanto Zierbena  0,00  0,00  0,00

In [94]:
densidad_poblacional = '/home/vant/Escritorio/TFM/calidaddevida/Densidad poblacional (Hab._Km).csv'
df_densidad_poblacion = pd.read_csv(densidad_poblacional, sep=';', encoding='latin-1', skiprows= 33)
df_densidad_poblacion.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004
0,48001,Abadiño,"208,83","209,13","208,66","208,33","207,05","205,02","202,55","202,49","201,11","199,36","197,78","198,42","197,48","194,76"
1,20001,Abaltzisketa,"28,43","28,20","28,63","28,63","28,80","28,27","28,66","29,11","28,21","28,30","27,14","26,34","25,36","25,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"589,80","591,90","595,49","598,76","603,09","600,00","539,61","600,25","595,49","593,09","593,15","593,09","586,60","575,00"

In [95]:
policial_local = '/home/vant/Escritorio/TFM/calidaddevida/Dotacion policial local ( habitantes).csv'
df_policial_local = pd.read_csv(policial_local, sep=';', encoding='latin-1', skiprows= 33)
df_policial_local.head(3)

,Código municipio,Municipio,2015,2014,2013,2012,2009,2007,2006
0,48001,Abadiño,"1,06","1,06","1,07","0,94","0,55","0,56","0,56"
1,20001,Abaltzisketa,"0,00","0,00","0,00","0,00","0,00","3,15","3,29"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"1,46","1,56","1,55","1,43","1,34","0,94","0,94"

In [98]:
edif_sin_ascensor = '/home/vant/Escritorio/TFM/calidaddevida/Edificios de viviendas de 2 o mas plantas sin ascensor (%).csv'
df_edif_sin_ascensor = pd.read_csv(edif_sin_ascensor, sep=';', encoding='latin-1', skiprows= 10)
df_edif_sin_ascensor.head(3)

   Código municipio                          Municipio    2001
0             48001                            Abadiño   88,98
1             20001                       Abaltzisketa  100,00
2             48002  Abanto y Ciérvana-Abanto Zierbena   94,70

In [99]:
edif_municip_accesibles = '/home/vant/Escritorio/TFM/calidaddevida/Equipamientos y edificios municipales accesibles (%).csv'
df_edif_municip_accesibles = pd.read_csv(edif_municip_accesibles, sep=';', encoding='latin-1', skiprows= 33)
df_edif_municip_accesibles.head(3)

,Código municipio,Municipio,2009,2008,2007,2006,2005
0,48001,Abadiño,"43,75","43,75","43,75","43,75","43,75"
1,20001,Abaltzisketa,"25,00","25,00","50,00","50,00","50,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"30,77","24,00","23,08","23,08","23,08"

In [100]:
farmacias = '/home/vant/Escritorio/TFM/calidaddevida/Farmacias (por cada 10.000 habitantes).csv'
df_farmacias = pd.read_csv(farmacias, sep=';', encoding='latin-1', skiprows= 33)
df_farmacias.head(3)

,Código municipio,Municipio,2016,2014,2012,2010,2009,2008,2007,2006
0,48001,Abadiño,"3,98","2,66","2,71","2,74","2,74","2,75","2,78","2,80"
1,20001,Abaltzisketa,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"3,13","3,11","3,09","3,09","3,09","3,11","3,12","3,12"

In [101]:
gasolineras = '/home/vant/Escritorio/TFM/calidaddevida/Gasolineras (por cada 10.000 habitantes).csv'
df_gasolineras = pd.read_csv(gasolineras, sep=';', encoding='latin-1', skiprows= 33)
df_gasolineras.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"2,66","2,65","2,66","2,67","2,68","2,71","2,74","2,74","2,75","2,78","2,80","2,79","2,81","2,84","2,86"
1,20001,Abaltzisketa,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"3,14","3,13","3,11","3,10","3,07","3,09","3,09","3,09","3,11","3,12","3,12","4,16","4,21","4,29","4,35"

In [102]:
indice_confort_viv_familias = '/home/vant/Escritorio/TFM/calidaddevida/Indice de confort de las viviendas familiares principales.csv'
df_indice_confort_viv_familias = pd.read_csv(indice_confort_viv_familias, sep=';', encoding='latin-1', skiprows= 33)
df_indice_confort_viv_familias.head(3)

,Código municipio,Municipio,2011,2006,2001,1996,1991
0,48001,Abadiño,"73,80","72,62","69,95","61,00","61,53"
1,20001,Abaltzisketa,"71,60","69,31","67,63","67,00","55,27"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"67,20","70,99","69,19","59,50","58,35"

In [103]:
indice_delitos = '/home/vant/Escritorio/TFM/calidaddevida/Indice de delitos ( habitantes).csv'
df_indice_delitos = pd.read_csv(indice_delitos, sep=';', encoding='latin-1', skiprows= 33)
df_indice_delitos.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"38,39","37,86","42,13","47,94","44,78","40,41","43,00","50,34","49,69","49,80","38,22","42,51","36,24","38,70","35,07"
1,20001,Abaltzisketa,"36,81","36,81","36,70","33,43","48,48","40,25","46,44","86,42","43,61","28,94","22,51","16,67","20,69","14,18","46,26"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"35,56","41,42","46,64","48,44","51,22","47,57","49,94","41,26","47,90","43,08","49,22","35,18","41,34","34,44","33,29"

In [104]:
indice_dependencia = '/home/vant/Escritorio/TFM/calidaddevida/Indice de dependencia demografica (%).csv'
df_indice_dependencia = pd.read_csv(indice_dependencia, sep=';', encoding='latin-1', skiprows= 33)
df_indice_dependencia.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"63,42","60,82","59,27","56,63","54,63","53,03","49,68","48,67","46,73","44,14","42,86","41,84","43,04","43,34","44,28"
1,20001,Abaltzisketa,"73,94","76,09","79,78","71,35","73,68","70,53","68,95","69,79","69,89","71,35","71,75","68,57","68,05","67,66","65,29"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"55,27","54,52","53,50","52,98","52,23","51,59","51,18","51,42","51,52","50,78","51,35","50,86","51,30","51,96","53,09"

In [105]:
indice_envejecimiento = '/home/vant/Escritorio/TFM/calidaddevida/Indice de envejecimiento: Poblacion de 65 y mas anos (%).csv'
df_indice_envejecimiento = pd.read_csv(indice_envejecimiento, sep=';', encoding='latin-1', skiprows= 33)
df_indice_envejecimiento.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"18,33","17,44","17,12","16,54","15,93","15,48","14,65","14,21","13,71","12,98","12,77","12,62","12,46","12,62","12,52"
1,20001,Abaltzisketa,"18,35","17,59","18,84","17,93","16,67","16,36","17,13","16,87","18,35","19,56","20,07","19,66","20,07","21,07","21,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"17,24","16,97","16,51","16,28","15,87","15,96","15,61","15,58","15,68","15,77","16,00","15,71","15,87","16,52","16,89"

In [106]:
indice_poblacion_infancia14 = '/home/vant/Escritorio/TFM/calidaddevida/Indice de infancia: Poblacion de 0-14 anos (%).csv'
df_indice_poblacion_infancia14 = pd.read_csv(indice_poblacion_infancia14, sep=';', encoding='latin-1', skiprows= 33)
df_indice_poblacion_infancia14.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"16,76","16,83","16,78","16,30","16,04","15,69","14,88","14,49","13,95","13,23","12,66","12,37","12,51","11,96","12,08"
1,20001,Abaltzisketa,"16,82","18,21","19,45","18,54","19,39","20,37","19,94","20,55","18,67","19,56","18,75","17,63","16,20","15,36","14,59"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"13,72","13,96","14,22","14,34","14,52","13,98","14,23","14,18","13,99","13,66","13,41","13,25","13,32","12,95","12,73"

In [108]:
indice_abestecimiento_agua = '/home/vant/Escritorio/TFM/calidaddevida/Indice de rendimiento del sistema de abastecimiento de agua (%).csv'
df_indice_abestecimiento_agua = pd.read_csv(indice_abestecimiento_agua, sep=';', encoding='latin-1', skiprows= 10)
df_indice_abestecimiento_agua.head(3)

   Código municipio                          Municipio   2005
0             48001                            Abadiño  43,85
1             20001                       Abaltzisketa  52,75
2             48002  Abanto y Ciérvana-Abanto Zierbena  42,44

In [109]:
oficinas_bancarias = '/home/vant/Escritorio/TFM/calidaddevida/Oficinas bancarias ( por cada 10.000 habitantes).csv'
df_oficinas_bancarias = pd.read_csv(oficinas_bancarias, sep=';', encoding='latin-1', skiprows= 33)
df_oficinas_bancarias.head(3)

,Código municipio,Municipio,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"9,33","10,73","10,83","10,94","10,94","11,02","11,12","11,20","11,17","11,22","11,38"
1,20001,Abaltzisketa,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"6,19","6,15","6,18","7,21","7,20","7,26","7,29","6,24","6,24","6,31","6,44"

In [110]:
oficinas_correos = '/home/vant/Escritorio/TFM/calidaddevida/Oficinas de Correos (por cada 10.000 habitantes).csv'
df_oficinas_correos = pd.read_csv(oficinas_correos, sep=';', encoding='latin-1', skiprows= 33)
df_oficinas_correos.head(3)

,Código municipio,Municipio,2017,2016,2014,2013,2010,2009,2008,2006
0,48001,Abadiño,"1,33","1,33","1,33","1,34","1,37","1,38","0,00","0,00"
1,20001,Abaltzisketa,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"1,05","1,04","1,03","1,02","1,03","1,04","1,04","0,00"

In [111]:
particip_elec_municip = '/home/vant/Escritorio/TFM/calidaddevida/Participacion en elecciones municipales (% s_censo electoral).csv'
df_particip_elec_municip = pd.read_csv(particip_elec_municip, sep=';', encoding='latin-1', skiprows= 33)
df_particip_elec_municip.head(3)

,Código municipio,Municipio,2015,2011,2007,2003
0,48001,Abadiño,"68,57","71,16","65,94","72,90"
1,20001,Abaltzisketa,"62,45","66,13","55,70","60,39"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"63,44","65,24","63,76","68,34"

In [112]:
poblacion_extranjera = '/home/vant/Escritorio/TFM/calidaddevida/Poblacion extranjera (%).csv'
df_poblacion_extranjera = pd.read_csv(poblacion_extranjera, sep=';', encoding='latin-1', skiprows= 33)
df_poblacion_extranjera.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"4,53","4,86","4,99","4,88","4,97","4,63","4,23","4,49","4,16","3,78","2,87","2,46","1,96","1,15","0,81"
1,20001,Abaltzisketa,"3,98","3,40","2,74","4,26","2,73","2,16","2,80","3,07","1,90","1,89","1,64","0,68","1,06","1,07","0,71"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"1,98","1,80","1,64","1,70","2,07","2,13","2,13","2,01","1,63","1,60","1,34","1,23","1,03","0,89","0,73"

In [113]:
poblacion_total = '/home/vant/Escritorio/TFM/calidaddevida/Poblacion total (hab.).csv'
df_poblacion_total = pd.read_csv(poblacion_total, sep=';', encoding='latin-1', skiprows= 33)
df_poblacion_total.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,1999,1998,1996
0,48001,Abadiño,"7.522,00","7.533,00","7.516,00","7.504,00","7.458,00","7.385,00","7.312,00","7.310,00","7.260,00","7.197,00","7.140,00","7.163,00","7.129,00","7.031,00","6.996,00","6.954,00","6.858,00","6.820,00","6.897,00"
1,20001,Abaltzisketa,"327,00","324,00","329,00","329,00","330,00","324,00","321,00","326,00","316,00","317,00","304,00","295,00","284,00","280,00","281,00","283,00","262,00","265,00","259,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"9.543,00","9.577,00","9.635,00","9.688,00","9.758,00","9.708,00","9.713,00","9.724,00","9.647,00","9.608,00","9.609,00","9.608,00","9.503,00","9.315,00","9.190,00","9.111,00","8.920,00","8.812,00","8.417,00"

In [114]:
puntos_alumbrado_pub = '/home/vant/Escritorio/TFM/calidaddevida/Puntos de alumbrado publico ( habitantes).csv'
df_puntos_alumbrado_pub = pd.read_csv(puntos_alumbrado_pub, sep=';', encoding='latin-1', skiprows= 33)
df_puntos_alumbrado_pub.head(3)

,Código municipio,Municipio,2009,2008,2007,2006,2005
0,48001,Abadiño,"185,36","186,64","188,27","182,63","182,05"
1,20001,Abaltzisketa,"269,94","278,48","305,99","164,47","149,15"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"250,51","165,85","161,32","161,31","325,15"

In [115]:
saldo_migratorio = '/home/vant/Escritorio/TFM/calidaddevida/Saldo migratorio externo ().csv'
df_saldo_migratorio = pd.read_csv(saldo_migratorio, sep=';', encoding='latin-1', skiprows= 33)
df_saldo_migratorio.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"0,80","0,27","0,27","-2,93","-3,61","0,40","6,26","2,60","4,55","7,47","9,76","7,97","5,04","5,65","-1,00"
1,20001,Abaltzisketa,"-3,06","12,35","6,12","0,00","0,00","9,17","6,19","6,17","9,49","9,46","0,00","3,33","0,00","0,00","7,12"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"3,25","2,92","-0,73","0,41","-2,88","4,42","3,60","0,62","0,00","4,05","-0,62","-2,08","1,05","0,11","-1,51"

In [116]:
suelo_urbano = '/home/vant/Escritorio/TFM/calidaddevida/Suelo urbano (%).csv'
df_suelo_urbano = pd.read_csv(suelo_urbano, sep=';', encoding='latin-1', skiprows= 33)
df_suelo_urbano.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004
0,48001,Abadiño,"4,21","4,21","4,21","4,21","4,24","2,44","2,41","2,41","2,41","2,41","2,41","2,41","3,97","3,97"
1,20001,Abaltzisketa,"0,21","0,21","0,21","0,21","0,24","0,25","0,26","0,26","0,26","0,26","0,26","0,26","0,26","0,19"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"14,68","12,12","12,12","12,12","12,12","10,72","9,63","10,43","10,19","10,19","10,19","10,19","10,18","10,20"

In [117]:
superficie_media_viv = '/home/vant/Escritorio/TFM/calidaddevida/Superficie media de las viviendas familiares (m).csv'
df_superficie_media_viv = pd.read_csv(superficie_media_viv, sep=';', encoding='latin-1', skiprows= 33)
df_superficie_media_viv.head(3)

,Código municipio,Municipio,2016,2015,2014,2013,2011,2010,2006,2001
0,48001,Abadiño,"89,70","89,90","89,90","90,00","90,30","90,60","90,64","91,39"
1,20001,Abaltzisketa,"107,20","107,50","107,50","107,50","107,30","109,30","110,75","102,72"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"78,40","78,40","78,20","78,20","78,30","77,80","76,86","75,40"

In [118]:
tasa_crec_vegetativo = '/home/vant/Escritorio/TFM/calidaddevida/Tasa de crecimiento vegetativo ().csv'
df_tasa_crec_vegetativo = pd.read_csv(tasa_crec_vegetativo, sep=';', encoding='latin-1', skiprows= 33)
df_tasa_crec_vegetativo.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,48001,Abadiño,"2,79","3,85","2,52","3,86","4,14","6,60","6,26","4,79","6,04","7,88","3,49","4,61","3,08","6,21","1,14","2,29"
1,20001,Abaltzisketa,"-15,29","3,09","-12,23","18,24","-9,09","-12,23","-3,10","-6,17","3,12","-9,46","12,86","20,00","0,00","0,00","-3,56","-7,09"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"-3,35","-2,61","-6,97","-3,21","-0,62","-1,03","-0,51","-0,41","0,41","1,25","0,73","1,77","-2,30","1,17","-0,11","-2,84"

In [119]:
tiempo_medio_despla_hospital_ref = '/home/vant/Escritorio/TFM/calidaddevida/Tiempo medio de desplazamiento al hospital de referencia (min.).csv'
df_tiempo_medio_despla_hospital_ref = pd.read_csv(tiempo_medio_despla_hospital_ref, sep=';', encoding='latin-1', skiprows= 33)
df_tiempo_medio_despla_hospital_ref.head(3)

   Código municipio                          Municipio   2007
0             48001                            Abadiño  12,94
1             20001                       Abaltzisketa  10,73
2             48002  Abanto y Ciérvana-Abanto Zierbena   8,60

In [120]:
guarderias = '/home/vant/Escritorio/TFM/calidaddevida/Unidades de educacion infantil por cada 100 habitantes de 0 a 2 anos.csv'
df_guarderias = pd.read_csv(guarderias, sep=';', encoding='latin-1', skiprows= 33)
df_guarderias.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004
0,48001,Abadiño,"3,96","4,42","3,36","3,60","3,58","3,12","4,59","3,06","3,41","0,00","4,62","3,25","3,40","1,50"
1,20001,Abaltzisketa,"9,09","11,11","0,00","14,29","0,00","7,69","10,00","7,69","7,69","5,88","6,67","6,67","10,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"3,35","3,35","3,12","3,35","3,53","3,51","3,60","3,50","3,40","3,61","2,78","2,74","2,38","3,11"

In [121]:
variacion_poblac_decada = '/home/vant/Escritorio/TFM/calidaddevida/Variacion de la poblacion en la ultima decada (%).csv'
df_variacion_poblac_decada = pd.read_csv(variacion_poblac_decada, sep=';', encoding='latin-1', skiprows= 33)
df_variacion_poblac_decada.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006
0,48001,Abadiño,"5,35","5,17","5,43","6,73","6,60","6,20","6,88","6,70","5,86","5,53","4,69","3,86"
1,20001,Abaltzisketa,"7,57","9,83","15,85","17,50","17,44","14,49","22,52","26,36","20,61","19,62","14,72","13,90"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"-0,69","-0,32","1,39","4,00","6,18","6,55","7,53","8,18","8,15","9,03","9,04","14,15"

In [122]:
viviendas_mas_50 = '/home/vant/Escritorio/TFM/calidaddevida/Viviendas familiares con mas de 50 anos de antiguedad (%).csv'
df_viviendas_mas_50 = pd.read_csv(viviendas_mas_50, sep=';', encoding='latin-1', skiprows= 33)
df_viviendas_mas_50.head(3)

,Código municipio,Municipio,2016,2015,2014,2013,2011,2010,2006,2001,1991
0,48001,Abadiño,"12,91","11,01","9,03","8,26","8,20","7,60","6,41","5,84","7,83"
1,20001,Abaltzisketa,"25,79","26,11","26,11","25,48","25,16","22,98","19,08","15,70","56,99"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"32,58","31,22","30,48","27,56","26,05","21,09","16,47","12,13","17,89"

In [123]:
viv_desocupadas = '/home/vant/Escritorio/TFM/calidaddevida/Viviendas familiares desocupadas (%).csv'
df_viv_desocupadas = pd.read_csv(viv_desocupadas, sep=';', encoding='latin-1', skiprows= 33)
df_viv_desocupadas.head(3)

,Código municipio,Municipio,2011,2001,1996,1991
0,48001,Abadiño,"13,36","11,24","15,07","14,83"
1,20001,Abaltzisketa,"21,29","31,40","33,98","11,83"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"11,36","10,63","19,92","11,09"

In [124]:
zona_juegos_infantil = '/home/vant/Escritorio/TFM/calidaddevida/Zonas publicas de juegos infantiles ( habitantes de 0 a 14 anos).csv'
df_zona_juegos_infantil = pd.read_csv(zona_juegos_infantil, sep=';', encoding='latin-1', skiprows= 33)
df_zona_juegos_infantil.head(3)

,Código municipio,Municipio,2009,2008,2007,2006,2005
0,48001,Abadiño,"8,50","8,88","9,45",NaN,"10,16"
1,20001,Abaltzisketa,"14,93","16,95","32,26","35,09","38,46"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"18,13","14,81","15,24","3,88","3,93"

In [2]:
viv_certif_energ = '/home/vant/Escritorio/TFM/concienciamedioambiental/Viviendas con certificado de eficiencia energetica  ( ).csv'
df_certif_energ = pd.read_csv(viv_certif_energ, sep=';', encoding='latin-1', skiprows= 33)
df_certif_energ.head(3)

,Código municipio,Municipio,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004
0,48001,Abadiño,"62,84","38,09","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
1,20001,Abaltzisketa,"19,48","12,99","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"56,19","27,66","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"

In [4]:
pob_estudios_secundarios = '/home/vant/Escritorio/TFM/formacion/Poblacion de mas de 10 anos que ha completado al menos Estudios Secundarios (%).csv'
df_pob_estudios_secundarios = pd.read_csv(pob_estudios_secundarios, sep=';', encoding='latin-1', skiprows= 33)
df_pob_estudios_secundarios.head(3)

,Código municipio,Municipio,2016,2015,2014,2013,2011,2010,2006,2001,1996
0,48001,Abadiño,"59,42","58,78","58,47","57,59","57,13","56,11","43,26","34,82","29,09"
1,20001,Abaltzisketa,"50,18","50,18","48,75","49,10","46,38","43,53","31,03","22,76","20,66"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"61,09","60,05","59,47","58,27","57,36","55,96","44,64","35,43","31,00"

In [5]:
crecimiento_vegetativo = '/home/vant/Escritorio/TFM/crecimientovegetativo.csv'
df_crecimiento_vegetativo = pd.read_csv(crecimiento_vegetativo, sep=';', encoding='latin-1', skiprows= 33)
df_crecimiento_vegetativo.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,48001,Abadiño,"2,79","3,85","2,52","3,86","4,14","6,60","6,26","4,79","6,04","7,88","3,49","4,61","3,08","6,21","1,14","2,29"
1,20001,Abaltzisketa,"-15,29","3,09","-12,23","18,24","-9,09","-12,23","-3,10","-6,17","3,12","-9,46","12,86","20,00","0,00","0,00","-3,56","-7,09"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"-3,35","-2,61","-6,97","-3,21","-0,62","-1,03","-0,51","-0,41","0,41","1,25","0,73","1,77","-2,30","1,17","-0,11","-2,84"

In [6]:
pob_estudios_univer = '/home/vant/Escritorio/TFM/formacion/Poblacion de mas de 10 anos que ha completado estudios Universitarios (%).csv'
df_pob_estudios_univer = pd.read_csv(pob_estudios_univer, sep=';', encoding='latin-1', skiprows= 33)
df_pob_estudios_univer.head(3)

,Código municipio,Municipio,2016,2015,2014,2013,2011,2010,2006,2001,1996
0,48001,Abadiño,"18,22","18,07","18,07","17,56","17,95","16,89","10,81","7,98","4,66"
1,20001,Abaltzisketa,"13,62","13,98","12,81","13,62","13,77","11,51","6,90","5,28","4,55"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"17,39","16,78","16,79","16,39","16,53","16,29","10,98","8,71","5,23"

In [8]:
pob_estudios_profes = '/home/vant/Escritorio/TFM/formacion/Poblacion de mas de 10 anos que ha completado estudios profesionales (%).csv'
df_pob_estudios_profes = pd.read_csv(pob_estudios_profes, sep=';', encoding='latin-1', skiprows= 33)
df_pob_estudios_profes.head(3)

,Código municipio,Municipio,2016,2015,2014,2013,2011,2010,2006,2001,1996
0,48001,Abadiño,"22,59","22,06","22,06","21,77","21,42","19,51","18,21","17,73","14,59"
1,20001,Abaltzisketa,"18,64","16,13","16,01","16,49","16,30","14,75","12,64","10,98","10,74"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"24,26","23,93","23,55","23,01","22,65","20,98","19,08","18,16","15,87"

In [9]:
inver_por_habitante = '/home/vant/Escritorio/TFM/inversionnetaxhabit.csv'
df_inver_por_habitante = pd.read_csv(inver_por_habitante, sep=';', encoding='latin-1', skiprows= 33)
df_inver_por_habitante.head(3)

,Código municipio,Municipio,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,48001,Abadiño,"57,19","107,26","208,83","-77,67","69,09","186,82","133,20","289,99","-41,95","169,49","391,90","294,47","253,47","281,85","748,35"
1,20001,Abaltzisketa,"165,39","183,84","-7,44","717,01","-193,81","112,46","614,44","585,88","316,44","106,32","341,05","371,34","271,93","360,14","708,22"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"28,05","10,82","61,63","45,68","14,62","192,35","23,43","240,10","241,55","242,02","348,27","115,55","236,69","105,90","104,25"

In [10]:
parque_vehiculos = '/home/vant/Escritorio/TFM/parquevehiculos.csv'
df_parque_vehiculos = pd.read_csv(parque_vehiculos, sep=';', encoding='latin-1', skiprows= 33)
df_parque_vehiculos.head(3)

,Código municipio,Municipio,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"0,73","0,73","0,73","0,73","0,74","0,75","0,74","0,73","0,72","0,72","0,68","0,66","0,65","0,63"
1,20001,Abaltzisketa,"0,88","0,88","0,84","0,83","0,84","0,83","0,90","0,90","0,87","0,89","0,88","0,79","0,80","0,78"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"0,76","0,76","0,76","0,76","0,76","0,76","0,76","0,76","0,75","0,73","0,68","0,67","0,66","0,64"

In [2]:
empleo_microempresa = '/home/vant/Escritorio/TFM/tejidoempres/Empleo generado por las microempresas (0-9 empleados) (%).csv'
df_empleo_microempresa = pd.read_csv(empleo_microempresa, sep=';', encoding='latin-1', skiprows= 33)
df_empleo_microempresa.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"20,55","19,69","21,83","22,02","22,93","23,44","23,98","24,80","23,68","23,07","23,09","22,14","20,89","21,75","22,03"
1,20001,Abaltzisketa,"60,18","72,34","50,00","54,76","55,94","46,11","35,92","31,41","32,14","35,62","36,97","48,15","55,71","77,36","100,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"26,64","26,50","27,35","27,59","26,77","25,29","25,90","23,94","23,48","23,29","23,06","23,80","25,38","25,30","25,36"

In [3]:
indice_establ_construc = '/home/vant/Escritorio/TFM/tejidoempres/Porcentaje de establecimientos del sector construccion sobre el total (%).csv'
df_indice_establ_construcc = pd.read_csv(indice_establ_construc, sep=';', encoding='latin-1', skiprows= 33)
df_indice_establ_construcc.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,48001,Abadiño,"12,54","11,53","12,34","12,50","12,24","13,44","15,68","16,34","16,76","16,17","14,99","15,36","13,00","12,97","13,14","13,62","13,89","14,13"
1,20001,Abaltzisketa,"2,70","2,78","3,03","2,94","5,13","10,00","14,81","16,00","16,67","14,81","16,67","13,04","18,75","17,65","21,05","20,00","25,00","18,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"17,56","18,06","18,88","18,97","20,29","20,00","20,51","21,24","21,74","21,80","22,54","22,84","22,59","20,51","19,84","19,11","18,86","17,63"

In [4]:
indice_establ_industria = '/home/vant/Escritorio/TFM/tejidoempres/Porcentaje de establecimientos del sector industrial sobre el total (%).csv'
df_indice_establ_industria = pd.read_csv(indice_establ_industria, sep=';', encoding='latin-1', skiprows= 33)
df_indice_establ_industria.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,48001,Abadiño,"17,92","18,18","18,18","18,43","19,00","18,58","19,72","18,89","19,97","19,88","20,24","20,43","21,03","21,88","22,80","22,59","23,03","23,37"
1,20001,Abaltzisketa,"5,41","2,78","3,03","2,94","2,56","2,50","3,70","4,00","4,17","7,41","4,17","13,04","12,50","11,76","10,53","10,00","10,00","13,64"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"13,13","13,51","13,42","13,24","13,43","13,24","13,62","13,80","13,04","13,05","12,56","12,48","13,35","13,97","14,84","14,49","15,19","15,08"

In [5]:
indice_establ_sect_primario = '/home/vant/Escritorio/TFM/tejidoempres/Porcentaje de establecimientos del sector primario sobre el total (%).csv'
df_indice_establ_sect_primario = pd.read_csv(indice_establ_sect_primario, sep=';', encoding='latin-1', skiprows= 33)
df_indice_establ_sect_primario.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012
0,48001,Abadiño,"4,56","5,03","5,19","5,93","6,75","4,83"
1,20001,Abaltzisketa,"35,14","36,11","36,36","35,29","41,03","35,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"1,98","2,12","1,47","2,06","2,19","2,39"

In [6]:
indice_establ_sect_servicios = '/home/vant/Escritorio/TFM/tejidoempres/Porcentaje de establecimientos del sector servicios sobre el total (%).csv'
df_indice_establ_sect_servicios = pd.read_csv(indice_establ_sect_servicios, sep=';', encoding='latin-1', skiprows= 33)
df_indice_establ_sect_servicios.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,48001,Abadiño,"64,98","65,26","64,29","63,14","62,01","63,14","64,60","64,77","63,27","63,95","64,77","64,21","65,97","65,15","64,06","63,79","63,07","62,50"
1,20001,Abaltzisketa,"56,76","58,33","57,58","58,82","51,28","52,50","81,48","80,00","79,17","77,78","79,17","73,91","68,75","70,59","68,42","70,00","65,00","68,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"67,33","66,31","66,22","65,74","64,09","64,37","65,87","64,95","65,22","65,15","64,90","64,67","64,06","65,53","65,31","66,40","65,94","67,29"

In [7]:
poblacion_estudia_fuera_munic = '/home/vant/Escritorio/TFM/transporte/Poblacion estudiante de 16 y mas anos que estudia fuera del municipio de residencia (%).csv'
df_poblacion_estudia_fuera_munic = pd.read_csv(poblacion_estudia_fuera_munic, sep=';', encoding='latin-1', skiprows= 33)
df_poblacion_estudia_fuera_munic.head(3)

   Código municipio                          Municipio    2011    2001
0             48001                            Abadiño   94,05   95,34
1             20001                       Abaltzisketa  100,00  100,00
2             48002  Abanto y Ciérvana-Abanto Zierbena   84,89   73,43

In [8]:
poblacion_trabaja_fuera_munic = '/home/vant/Escritorio/TFM/transporte/Poblacion ocupada de 16 y mas anos que trabaja fuera del municipio de residencia (%).csv'
df_poblacion_trabaja_fuera_munic = pd.read_csv(poblacion_trabaja_fuera_munic, sep=';', encoding='latin-1', skiprows= 33)
df_poblacion_trabaja_fuera_munic.head(3)

   Código municipio                          Municipio   2011   2001
0             48001                            Abadiño  66,02  60,57
1             20001                       Abaltzisketa  74,44  67,48
2             48002  Abanto y Ciérvana-Abanto Zierbena  80,36  79,99

In [10]:
tiempo_medio_acceso_carret = '/home/vant/Escritorio/TFM/transporte/Tiempo medio de acceso a carreteras principales (min.).csv'
df_tiempo_medio_acceso_carret = pd.read_csv(tiempo_medio_acceso_carret, sep=';', encoding='latin-1', skiprows= 10)
df_tiempo_medio_acceso_carret.head(3)

   Código municipio                          Municipio  2006
0             48001                            Abadiño  0,88
1             20001                       Abaltzisketa  6,53
2             48002  Abanto y Ciérvana-Abanto Zierbena  0,82

In [11]:
densidad_comercio_ocasional = '/home/vant/Escritorio/TFM/vitalidadturistica/Densidad comercial de bienes ocasionales ( habitantes).csv'
df_densidad_comercio_ocasional = pd.read_csv(densidad_comercio_ocasional, sep=';', encoding='latin-1', skiprows= 33)
df_densidad_comercio_ocasional.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"5,45","5,71","5,71","5,19","5,48","5,99","6,12","6,84","7,30","6,56","6,56","6,71","6,86","6,78","6,13"
1,20001,Abaltzisketa,"3,07","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","3,22","3,22","3,33","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"2,82","3,12","3,23","3,10","3,81","4,02","4,22","4,22","4,56","4,89","4,37","4,47","3,87","4,04","3,89"

In [12]:
densidad_comercio_minor = '/home/vant/Escritorio/TFM/vitalidadturistica/Densidad comercial minorista ( habitantes).csv'
df_densidad_comercio_minor = pd.read_csv(densidad_comercio_minor, sep=';', encoding='latin-1', skiprows= 33)
df_densidad_comercio_minor.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"8,37","8,77","9,04","8,66","8,96","9,80","9,93","11,08","11,71","10,88","10,04","10,35","10,92","10,45","10,12"
1,20001,Abaltzisketa,"6,13","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","3,22","3,22","3,33","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"6,59","6,87","6,77","6,93","7,71","7,93","8,14","8,85","9,12","9,68","9,26","9,16","9,00","8,61","8,65"

In [13]:
indice_hosteleria = '/home/vant/Escritorio/TFM/vitalidadturistica/Establecimientos de hosteleria y restauracion ( habitantes).csv'
df_indice_hosteleria = pd.read_csv(indice_hosteleria, sep=';', encoding='latin-1', skiprows= 33)
df_indice_hosteleria.head(3)

,Código municipio,Municipio,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,48001,Abadiño,"6,38","6,77","6,64","6,39","5,88","5,26","5,17","5,47","6,06","6,64","6,83","6,99","6,72","7,49","7,13"
1,20001,Abaltzisketa,"12,27","18,40","15,29","18,24","18,18","18,35","15,48","15,43","15,82","15,77","12,86","16,67","17,24","17,73","17,79"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"5,65","5,33","5,62","5,28","4,94","5,55","5,56","5,76","6,22","6,34","6,04","6,45","5,86","6,16","6,38"

In [14]:
plazas_alojamiento_turistico = '/home/vant/Escritorio/TFM/vitalidadturistica/Plazas de alojamiento turistico ( habitantes).csv'
df_plazas_alojamiento_turistico = pd.read_csv(plazas_alojamiento_turistico, sep=';', encoding='latin-1', skiprows= 33)
df_plazas_alojamiento_turistico.head(3)

,Código municipio,Municipio,2017,2010,2009,2008,2007,2006,2005
0,48001,Abadiño,"17,95","20,38","20,38","19,83","19,45","19,61","19,54"
1,20001,Abaltzisketa,"0,00","12,46","12,27","12,66","12,62","13,16","13,56"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"0,42","4,53","4,52","4,56","5,10","5,10","5,10"

In [17]:
superficie_agricola = '/home/vant/Escritorio/TFM/zonasverdes/Superficie agricola (% s_ superficie total).csv'
df_superficie_agricola = pd.read_csv(superficie_agricola, sep=';', encoding='latin-1', skiprows= 33)
df_superficie_agricola.head(3)

   Código municipio                          Municipio  2016  2005
0             48001                            Abadiño  1,19  1,16
1             20001                       Abaltzisketa  1,39  0,18
2             48002  Abanto y Ciérvana-Abanto Zierbena  2,10  2,16

In [3]:
superficie_forestal = '/home/vant/Escritorio/TFM/zonasverdes/Superficie forestal (% s  superficie total).csv'
df_superficie_forestal = pd.read_csv(superficie_forestal, sep=';', encoding='latin-1', skiprows= 33)
df_superficie_forestal.head(3)

   Código municipio                          Municipio   2016   2010   2005
0             48001                            Abadiño  53,53  53,27  55,01
1             20001                       Abaltzisketa  52,43  53,48  50,36
2             48002  Abanto y Ciérvana-Abanto Zierbena  35,72  35,68  38,46

In [4]:
superficie_parques_m2 = '/home/vant/Escritorio/TFM/zonasverdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (%_suelo urbano).csv'
df_superficie_parques_m2 = pd.read_csv(superficie_parques_m2, sep=';', encoding='latin-1', skiprows= 33)
df_superficie_parques_m2.head(3)

,Código municipio,Municipio,2009,2008,2007,2006,2005
0,48001,Abadiño,"8,75","8,75","8,75","8,75","5,30"
1,20001,Abaltzisketa,"103,45","103,45","51,72","3,45","3,46"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"8,60","8,60","8,60","8,60","7,95"

In [5]:
superficie_parques_pers = '/home/vant/Escritorio/TFM/zonasverdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (m_persona).csv'
df_superficie_parques_pers = pd.read_csv(superficie_parques_pers, sep=';', encoding='latin-1', skiprows= 33)
df_superficie_parques_pers.head(3)

,Código municipio,Municipio,2009,2008,2007,2006,2005
0,48001,Abadiño,"10,40","10,47","10,56","10,64","10,61"
1,20001,Abaltzisketa,"92,02","94,94","47,32","3,29","3,39"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"14,60","14,72","14,78","14,78","13,63"