# Importando las Librerias en principio mas necesarias para este segundo paso de generar un nuevo Gran Tablon para los datos de 2013.

Este Tablon estará compuesto por diferentes Dataframes, que deberemos "merger" en uno solo.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as py
%matplotlib inline

# Tendre que reutilizar los pasos hechos en el primer notebook para poder acceder a la informacion y luego merger las columnas con los años mas cercanos al 2013

In [2]:
accesibilidad = '/home/vant/Escritorio/TFM/accesibilidad.csv'

In [3]:
pd.options.display.max_columns=None

df_accesibilidad = pd.read_csv(accesibilidad, sep=';', encoding='latin-1', skiprows= 33)

In [4]:
accidentes_trafico = '/home/vant/Escritorio/TFM/accidentetrafic.csv'
df_accident_trafico = pd.read_csv(accidentes_trafico, sep=';', encoding='latin-1', skiprows= 33)

In [5]:
calidad_agua_consumo = '/home/vant/Escritorio/TFM/aguayaire/Calificacion sanitaria del agua de consumo.csv'
df_calidad_agua_consumo = pd.read_csv(calidad_agua_consumo, sep=';', encoding='latin-1', skiprows= 4)

In [6]:
demanda_agua = '/home/vant/Escritorio/TFM/aguayaire/Demanda total de agua por habitante y dia (l_hab._dia).csv'
df_demanda_agua = pd.read_csv(demanda_agua, sep=';', encoding='latin-1', skiprows= 33)

In [7]:
calidad_aire = '/home/vant/Escritorio/TFM/aguayaire/Dias con calidad del aire buena o admisible (%).csv'
df_calidad_aire = pd.read_csv(calidad_aire, sep=';', encoding='latin-1', skiprows= 33)

In [8]:
alumbrado = '/home/vant/Escritorio/TFM/alumbrado.csv'
df_alumbrado = pd.read_csv(alumbrado, sep=';', encoding='latin-1', skiprows= 33)

In [9]:
antiguedad_vivienda = '/home/vant/Escritorio/TFM/antiguedadmediavivienda.csv'
df_antiguedad_vivienda = pd.read_csv(antiguedad_vivienda, sep=';', encoding='latin-1', skiprows= 33)

In [10]:
aseos_publicos = '/home/vant/Escritorio/TFM/aseos.csv'
df_aseos_publicos = pd.read_csv(aseos_publicos, sep=';', encoding='latin-1', skiprows= 33)

In [11]:
bibliotecas = '/home/vant/Escritorio/TFM/biblios.csv'
df_bibliotecas = pd.read_csv(bibliotecas, sep=';', encoding='latin-1', skiprows= 33)

In [12]:
bidegorris = '/home/vant/Escritorio/TFM/bidegorris.csv'
df_bidegorris = pd.read_csv(bidegorris, sep=';', encoding='latin-1', skiprows= 33)

In [13]:
gasto_presup_servicios_sociales = '/home/vant/Escritorio/TFM/bienestar/Gasto corriente del presupuesto municipal per capita en Servicios Sociales ().csv'
df_gasto_presup_servicios_sociales = pd.read_csv(gasto_presup_servicios_sociales, sep=';', encoding='latin-1', skiprows= 10)

In [14]:
gasto_percap_serv_soc = '/home/vant/Escritorio/TFM/bienestar/Gasto total per capita en Servicios Sociales ().csv'
df_gasto_percap_serv_soc = pd.read_csv(gasto_percap_serv_soc, sep=';', encoding='latin-1', skiprows= 33)

In [15]:
plazas_res_tercera_edad = '/home/vant/Escritorio/TFM/bienestar/Plazas en centros residenciales para la 3 edad ( habitantes de 65 y mas anos).csv'
df_plazas_res_tercera_edad = pd.read_csv(plazas_res_tercera_edad, sep=';', encoding='latin-1', skiprows= 33)

In [16]:
plazas_res_discapacitadas = '/home/vant/Escritorio/TFM/bienestar/Plazas en centros residenciales para personas discapacitadas ( habitantes).csv'
df_plazas_res_discapacitadas = pd.read_csv(plazas_res_discapacitadas, sep=';', encoding='latin-1', skiprows= 33)

In [17]:
grado_ocupacion_residencias = '/home/vant/Escritorio/TFM/bienestar/Grado de ocupacion de los centros residenciales (3 edad y personas con discapacidad) (%).csv'
df_grado_ocupacion_residencias = pd.read_csv(grado_ocupacion_residencias, sep=';', encoding='latin-1', skiprows= 33)

In [18]:
tasa_bruta_natalidad = '/home/vant/Escritorio/TFM/brutanatalidad.csv'
df_tasa_bruta_natalidad = pd.read_csv(tasa_bruta_natalidad, sep=';', encoding='latin-1', skiprows= 33)

In [19]:
aforo_cines = '/home/vant/Escritorio/TFM/calidaddevida/Aforo de cines (butacas por  habitantes).csv'
df_aforo_cines = pd.read_csv(aforo_cines, sep=';', encoding='latin-1', skiprows= 33)

In [20]:
densidad_poblacional = '/home/vant/Escritorio/TFM/calidaddevida/Densidad poblacional (Hab._Km).csv'
df_densidad_poblacion = pd.read_csv(densidad_poblacional, sep=';', encoding='latin-1', skiprows= 33)

In [21]:
policial_local = '/home/vant/Escritorio/TFM/calidaddevida/Dotacion policial local ( habitantes).csv'
df_policial_local = pd.read_csv(policial_local, sep=';', encoding='latin-1', skiprows= 33)

In [22]:
edif_sin_ascensor = '/home/vant/Escritorio/TFM/calidaddevida/Edificios de viviendas de 2 o mas plantas sin ascensor (%).csv'
df_edif_sin_ascensor = pd.read_csv(edif_sin_ascensor, sep=';', encoding='latin-1', skiprows= 10)

In [23]:
edif_municip_accesibles = '/home/vant/Escritorio/TFM/calidaddevida/Equipamientos y edificios municipales accesibles (%).csv'
df_edif_municip_accesibles = pd.read_csv(edif_municip_accesibles, sep=';', encoding='latin-1', skiprows= 33)

In [24]:
farmacias = '/home/vant/Escritorio/TFM/calidaddevida/Farmacias (por cada 10.000 habitantes).csv'
df_farmacias = pd.read_csv(farmacias, sep=';', encoding='latin-1', skiprows= 33)

In [25]:
gasolineras = '/home/vant/Escritorio/TFM/calidaddevida/Gasolineras (por cada 10.000 habitantes).csv'
df_gasolineras = pd.read_csv(gasolineras, sep=';', encoding='latin-1', skiprows= 33)

In [26]:
indice_confort_viv_familias = '/home/vant/Escritorio/TFM/calidaddevida/Indice de confort de las viviendas familiares principales.csv'
df_indice_confort_viv_familias = pd.read_csv(indice_confort_viv_familias, sep=';', encoding='latin-1', skiprows= 33)

In [27]:
indice_delitos = '/home/vant/Escritorio/TFM/calidaddevida/Indice de delitos ( habitantes).csv'
df_indice_delitos = pd.read_csv(indice_delitos, sep=';', encoding='latin-1', skiprows= 33)

In [28]:
indice_dependencia = '/home/vant/Escritorio/TFM/calidaddevida/Indice de dependencia demografica (%).csv'
df_indice_dependencia = pd.read_csv(indice_dependencia, sep=';', encoding='latin-1', skiprows= 33)

In [29]:
indice_envejecimiento = '/home/vant/Escritorio/TFM/calidaddevida/Indice de envejecimiento: Poblacion de 65 y mas anos (%).csv'
df_indice_envejecimiento = pd.read_csv(indice_envejecimiento, sep=';', encoding='latin-1', skiprows= 33)

In [30]:
indice_poblacion_infancia14 = '/home/vant/Escritorio/TFM/calidaddevida/Indice de infancia: Poblacion de 0-14 anos (%).csv'
df_indice_poblacion_infancia14 = pd.read_csv(indice_poblacion_infancia14, sep=';', encoding='latin-1', skiprows= 33)

In [31]:
indice_abestecimiento_agua = '/home/vant/Escritorio/TFM/calidaddevida/Indice de rendimiento del sistema de abastecimiento de agua (%).csv'
df_indice_abestecimiento_agua = pd.read_csv(indice_abestecimiento_agua, sep=';', encoding='latin-1', skiprows= 10)

In [32]:
oficinas_bancarias = '/home/vant/Escritorio/TFM/calidaddevida/Oficinas bancarias ( por cada 10.000 habitantes).csv'
df_oficinas_bancarias = pd.read_csv(oficinas_bancarias, sep=';', encoding='latin-1', skiprows= 33)

In [33]:
oficinas_correos = '/home/vant/Escritorio/TFM/calidaddevida/Oficinas de Correos (por cada 10.000 habitantes).csv'
df_oficinas_correos = pd.read_csv(oficinas_correos, sep=';', encoding='latin-1', skiprows= 33)

In [34]:
particip_elec_municip = '/home/vant/Escritorio/TFM/calidaddevida/Participacion en elecciones municipales (% s_censo electoral).csv'
df_particip_elec_municip = pd.read_csv(particip_elec_municip, sep=';', encoding='latin-1', skiprows= 33)

In [35]:
poblacion_extranjera = '/home/vant/Escritorio/TFM/calidaddevida/Poblacion extranjera (%).csv'
df_poblacion_extranjera = pd.read_csv(poblacion_extranjera, sep=';', encoding='latin-1', skiprows= 33)

In [36]:
poblacion_total = '/home/vant/Escritorio/TFM/calidaddevida/Poblacion total (hab.).csv'
df_poblacion_total = pd.read_csv(poblacion_total, sep=';', encoding='latin-1', skiprows= 33)

In [37]:
puntos_alumbrado_pub = '/home/vant/Escritorio/TFM/calidaddevida/Puntos de alumbrado publico ( habitantes).csv'
df_puntos_alumbrado_pub = pd.read_csv(puntos_alumbrado_pub, sep=';', encoding='latin-1', skiprows= 33)

In [38]:
saldo_migratorio = '/home/vant/Escritorio/TFM/calidaddevida/Saldo migratorio externo ().csv'
df_saldo_migratorio = pd.read_csv(saldo_migratorio, sep=';', encoding='latin-1', skiprows= 33)

In [39]:
suelo_urbano = '/home/vant/Escritorio/TFM/calidaddevida/Suelo urbano (%).csv'
df_suelo_urbano = pd.read_csv(suelo_urbano, sep=';', encoding='latin-1', skiprows= 33)

In [40]:
superficie_media_viv = '/home/vant/Escritorio/TFM/calidaddevida/Superficie media de las viviendas familiares (m).csv'
df_superficie_media_viv = pd.read_csv(superficie_media_viv, sep=';', encoding='latin-1', skiprows= 33)

In [41]:
tasa_crec_vegetativo = '/home/vant/Escritorio/TFM/calidaddevida/Tasa de crecimiento vegetativo ().csv'
df_tasa_crec_vegetativo = pd.read_csv(tasa_crec_vegetativo, sep=';', encoding='latin-1', skiprows= 33)

In [42]:
tiempo_medio_despla_hospital_ref = '/home/vant/Escritorio/TFM/calidaddevida/Tiempo medio de desplazamiento al hospital de referencia (min.).csv'
df_tiempo_medio_despla_hospital_ref = pd.read_csv(tiempo_medio_despla_hospital_ref, sep=';', encoding='latin-1', skiprows= 33)

In [43]:
guarderias = '/home/vant/Escritorio/TFM/calidaddevida/Unidades de educacion infantil por cada 100 habitantes de 0 a 2 anos.csv'
df_guarderias = pd.read_csv(guarderias, sep=';', encoding='latin-1', skiprows= 33)

In [44]:
variacion_poblac_decada = '/home/vant/Escritorio/TFM/calidaddevida/Variacion de la poblacion en la ultima decada (%).csv'
df_variacion_poblac_decada = pd.read_csv(variacion_poblac_decada, sep=';', encoding='latin-1', skiprows= 33)

In [45]:
viviendas_mas_50 = '/home/vant/Escritorio/TFM/calidaddevida/Viviendas familiares con mas de 50 anos de antiguedad (%).csv'
df_viviendas_mas_50 = pd.read_csv(viviendas_mas_50, sep=';', encoding='latin-1', skiprows= 33)

In [46]:
viv_desocupadas = '/home/vant/Escritorio/TFM/calidaddevida/Viviendas familiares desocupadas (%).csv'
df_viv_desocupadas = pd.read_csv(viv_desocupadas, sep=';', encoding='latin-1', skiprows= 33)

In [47]:
zona_juegos_infantil = '/home/vant/Escritorio/TFM/calidaddevida/Zonas publicas de juegos infantiles ( habitantes de 0 a 14 anos).csv'
df_zona_juegos_infantil = pd.read_csv(zona_juegos_infantil, sep=';', encoding='latin-1', skiprows= 33)

In [48]:
viv_certif_energ = '/home/vant/Escritorio/TFM/concienciamedioambiental/Viviendas con certificado de eficiencia energetica  ( ).csv'
df_certif_energ = pd.read_csv(viv_certif_energ, sep=';', encoding='latin-1', skiprows= 33)

In [49]:
pob_estudios_secundarios = '/home/vant/Escritorio/TFM/formacion/Poblacion de mas de 10 anos que ha completado al menos Estudios Secundarios (%).csv'
df_pob_estudios_secundarios = pd.read_csv(pob_estudios_secundarios, sep=';', encoding='latin-1', skiprows= 33)

In [50]:
crecimiento_vegetativo = '/home/vant/Escritorio/TFM/crecimientovegetativo.csv'
df_crecimiento_vegetativo = pd.read_csv(crecimiento_vegetativo, sep=';', encoding='latin-1', skiprows= 33)

In [51]:
pob_estudios_univer = '/home/vant/Escritorio/TFM/formacion/Poblacion de mas de 10 anos que ha completado estudios Universitarios (%).csv'
df_pob_estudios_univer = pd.read_csv(pob_estudios_univer, sep=';', encoding='latin-1', skiprows= 33)

In [52]:
pob_estudios_profes = '/home/vant/Escritorio/TFM/formacion/Poblacion de mas de 10 anos que ha completado estudios profesionales (%).csv'
df_pob_estudios_profes = pd.read_csv(pob_estudios_profes, sep=';', encoding='latin-1', skiprows= 33)

In [53]:
inver_por_habitante = '/home/vant/Escritorio/TFM/inversionnetaxhabit.csv'
df_inver_por_habitante = pd.read_csv(inver_por_habitante, sep=';', encoding='latin-1', skiprows= 33)

In [54]:
parque_vehiculos = '/home/vant/Escritorio/TFM/parquevehiculos.csv'
df_parque_vehiculos = pd.read_csv(parque_vehiculos, sep=';', encoding='latin-1', skiprows= 33)

In [55]:
empleo_microempresa = '/home/vant/Escritorio/TFM/tejidoempres/Empleo generado por las microempresas (0-9 empleados) (%).csv'
df_empleo_microempresa = pd.read_csv(empleo_microempresa, sep=';', encoding='latin-1', skiprows= 33)

In [56]:
indice_establ_construc = '/home/vant/Escritorio/TFM/tejidoempres/Porcentaje de establecimientos del sector construccion sobre el total (%).csv'
df_indice_establ_construcc = pd.read_csv(indice_establ_construc, sep=';', encoding='latin-1', skiprows= 33)

In [57]:
indice_establ_industria = '/home/vant/Escritorio/TFM/tejidoempres/Porcentaje de establecimientos del sector industrial sobre el total (%).csv'
df_indice_establ_industria = pd.read_csv(indice_establ_industria, sep=';', encoding='latin-1', skiprows= 33)

In [58]:
indice_establ_sect_primario = '/home/vant/Escritorio/TFM/tejidoempres/Porcentaje de establecimientos del sector primario sobre el total (%).csv'
df_indice_establ_sect_primario = pd.read_csv(indice_establ_sect_primario, sep=';', encoding='latin-1', skiprows= 33)

In [59]:
indice_establ_sect_servicios = '/home/vant/Escritorio/TFM/tejidoempres/Porcentaje de establecimientos del sector servicios sobre el total (%).csv'
df_indice_establ_sect_servicios = pd.read_csv(indice_establ_sect_servicios, sep=';', encoding='latin-1', skiprows= 33)

In [60]:
poblacion_estudia_fuera_munic = '/home/vant/Escritorio/TFM/transporte/Poblacion estudiante de 16 y mas anos que estudia fuera del municipio de residencia (%).csv'
df_poblacion_estudia_fuera_munic = pd.read_csv(poblacion_estudia_fuera_munic, sep=';', encoding='latin-1', skiprows= 33)

In [61]:
poblacion_trabaja_fuera_munic = '/home/vant/Escritorio/TFM/transporte/Poblacion ocupada de 16 y mas anos que trabaja fuera del municipio de residencia (%).csv'
df_poblacion_trabaja_fuera_munic = pd.read_csv(poblacion_trabaja_fuera_munic, sep=';', encoding='latin-1', skiprows= 33)

In [62]:
tiempo_medio_acceso_carret = '/home/vant/Escritorio/TFM/transporte/Tiempo medio de acceso a carreteras principales (min.).csv'
df_tiempo_medio_acceso_carret = pd.read_csv(tiempo_medio_acceso_carret, sep=';', encoding='latin-1', skiprows= 10)

In [63]:
densidad_comercio_ocasional = '/home/vant/Escritorio/TFM/vitalidadturistica/Densidad comercial de bienes ocasionales ( habitantes).csv'
df_densidad_comercio_ocasional = pd.read_csv(densidad_comercio_ocasional, sep=';', encoding='latin-1', skiprows= 33)

In [64]:
densidad_comercio_minor = '/home/vant/Escritorio/TFM/vitalidadturistica/Densidad comercial minorista ( habitantes).csv'
df_densidad_comercio_minor = pd.read_csv(densidad_comercio_minor, sep=';', encoding='latin-1', skiprows= 33)

In [65]:
indice_hosteleria = '/home/vant/Escritorio/TFM/vitalidadturistica/Establecimientos de hosteleria y restauracion ( habitantes).csv'
df_indice_hosteleria = pd.read_csv(indice_hosteleria, sep=';', encoding='latin-1', skiprows= 33)

In [66]:
plazas_alojamiento_turistico = '/home/vant/Escritorio/TFM/vitalidadturistica/Plazas de alojamiento turistico ( habitantes).csv'
df_plazas_alojamiento_turistico = pd.read_csv(plazas_alojamiento_turistico, sep=';', encoding='latin-1', skiprows= 33)

In [67]:
superficie_agricola = '/home/vant/Escritorio/TFM/zonasverdes/Superficie agricola (% s_ superficie total).csv'
df_superficie_agricola = pd.read_csv(superficie_agricola, sep=';', encoding='latin-1', skiprows= 33)

In [68]:
superficie_forestal = '/home/vant/Escritorio/TFM/zonasverdes/Superficie forestal (% s  superficie total).csv'
df_superficie_forestal = pd.read_csv(superficie_forestal, sep=';', encoding='latin-1', skiprows= 33)

In [69]:
superficie_parques_m2 = '/home/vant/Escritorio/TFM/zonasverdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (%_suelo urbano).csv'
df_superficie_parques_m2 = pd.read_csv(superficie_parques_m2, sep=';', encoding='latin-1', skiprows= 33)

In [70]:
superficie_parques_pers = '/home/vant/Escritorio/TFM/zonasverdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (m_persona).csv'
df_superficie_parques_pers = pd.read_csv(superficie_parques_pers, sep=';', encoding='latin-1', skiprows= 33)

## Ahora hay montar el gran data frame de 2013 con todos los municipios y cada una de las variables (indices de sostenibilidad) seleccionadas para utilizarlas como predictores de las elecciones del 2015.

Al existir NANs (a cada DF le voy a pasar un metodo .isna().sum() para comprobrarlo) , hay que tener cuidado con los diferentes Dataframe, rellenando la informacion con la media.

In [71]:
df_accesibilidad.isna().sum()

Código municipio    0
Municipio           0
2009                4
2008                6
2007                8
2006                1
2005                4
dtype: int64

## Vamos a seleccionar de cada Dataframe las Columna Municipio y el año 2013 o  mas cercano en caso de no existir, en algun caso deberemos repetir los mismos datos que en el primer paso.

In [72]:
gran_dataframe = df_accesibilidad[['Código municipio','Municipio','2009']].fillna('59,64')
gran_dataframe['2009'] = gran_dataframe['2009'].str.replace(',', '.').astype(float)
# gran_dataframe.describe()  para saber la media del 2009 y rellenar los NaN con ese dato = 59.64
gran_dataframe[140:142]

     Código municipio           Municipio   2009
140              1031           Laguardia  100.0
141              1032  Lanciego/Lantziego  100.0

In [73]:
df_accid_t = df_accident_trafico[['Municipio','2013']] 
df_accid_t.head(3)

                           Municipio   2013
0                            Abadiño   7,49
1                       Abaltzisketa   3,03
2  Abanto y Ciérvana-Abanto Zierbena  12,65

## Hacemos un Merge en el Municipio e Inner para obtener solo un Dataframe donde tengamos informacion disponible de todos los municipios

In [74]:
gdf_2 = pd.merge(gran_dataframe, df_accid_t, on='Municipio', how='inner')
gdf_2.head(3)

   Código municipio                          Municipio   2009   2013
0             48001                            Abadiño  43.75   7,49
1             20001                       Abaltzisketa  25.00   3,03
2             48002  Abanto y Ciérvana-Abanto Zierbena  30.77  12,65

In [75]:
df_af_cines = df_aforo_cines[['Municipio','2009']]

In [76]:
gdf_3 = pd.merge(gdf_2, df_af_cines, on='Municipio', how='inner', suffixes=('_1','_3'))
gdf_3.head(3)

   Código municipio                          Municipio  2009_1   2013 2009_3
0             48001                            Abadiño   43.75   7,49   0,00
1             20001                       Abaltzisketa   25.00   3,03   0,00
2             48002  Abanto y Ciérvana-Abanto Zierbena   30.77  12,65   0,00

In [77]:
df_alumb = df_alumbrado[['Municipio','2009']]

In [78]:
gdf_4 = pd.merge(gdf_3, df_alumb, on='Municipio', how='inner')
gdf_4.head(3)

,Código municipio,Municipio,2009_1,2013,2009_3,2009
0,48001,Abadiño,43.75,"7,49","0,00","185,36"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51"

In [79]:
df_ant_viv = df_antiguedad_vivienda[['Municipio', '2013']]

In [80]:
gdf_5 = pd.merge(gdf_4, df_ant_viv, on='Municipio', how='inner', suffixes=('_2','_5'))
gdf_5.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009,2013_5
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70"

In [81]:
df_wc_pub = df_aseos_publicos[['Municipio', '2009']]

In [82]:
gdf_6 = pd.merge(gdf_5, df_wc_pub, on='Municipio', how='inner', suffixes=('_4','_6'))
gdf_6.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00"

In [83]:
df_bibli = df_bibliotecas[['Municipio', '2013']]

In [84]:
gdf_7 = pd.merge(gdf_6, df_bibli, on='Municipio', how='inner')
gdf_7.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89"

In [85]:
df_bi_go = df_bidegorris[['Municipio', '2009']]

In [86]:
gdf_8 = pd.merge(gdf_7, df_bi_go, on='Municipio', how='inner')
gdf_8.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013,2009
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77"

In [240]:
df_calidad_agua_consumo['2013'].str.replace(',','.').astype(float).mean() #hay un NaN - 3
df_cld_agua = df_calidad_agua_consumo[['Municipio', '2013']].fillna(3)

In [241]:
gdf_9 = pd.merge(gdf_8, df_cld_agua, on='Municipio', how='inner', suffixes=('_7','_9'))
gdf_9.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00"

In [242]:
df_cld_air = df_calidad_aire[['Municipio', '2013']]

In [243]:
gdf_10 = pd.merge(gdf_9, df_cld_air, on='Municipio', how='inner')
gdf_10.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45"

In [244]:
df_ct_ener = df_certif_energ[['Municipio', '2013']]

In [245]:
gdf_11 = pd.merge(gdf_10, df_ct_ener, on='Municipio', how='inner', suffixes=('_10', '_11'))
gdf_11.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00"

In [246]:
df_crcto_veg = df_crecimiento_vegetativo[['Municipio', '2013']]

In [247]:
gdf_12 = pd.merge(gdf_11, df_crcto_veg, on='Municipio', how='inner')
gdf_12.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62"

In [248]:
df_dmd_agua = df_demanda_agua[['Municipio', '2014']]

In [249]:
gdf_13 = pd.merge(gdf_12, df_dmd_agua, on='Municipio', how='inner')
gdf_13.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013,2014
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40"

In [250]:
df_dens_com_min  = df_densidad_comercio_minor[['Municipio', '2013']]

In [251]:
gdf_14 = pd.merge(gdf_13, df_dens_com_min, on='Municipio', how='inner', suffixes=('_12','_14'))
gdf_14.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014,2013_14
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71"

In [252]:
df_dens_com_ocas = df_densidad_comercio_ocasional[['Municipio','2013']]

In [253]:
gdf_15 = pd.merge(gdf_14, df_dens_com_ocas, on='Municipio', how='inner')
gdf_15.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014,2013_14,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81"

In [254]:
df_dens_pob = df_densidad_poblacion[['Municipio', '2013']]

In [255]:
gdf_16 = pd.merge(gdf_15, df_dens_pob, on='Municipio', how='inner', suffixes=('_15','_16'))
gdf_16.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014,2013_14,2013_15,2013_16
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09"

In [256]:
df_ed_sin_asc = df_edif_sin_ascensor[['Municipio', '2001']]

In [257]:
gdf_17 = pd.merge(gdf_16, df_ed_sin_asc, on='Municipio', how='inner')
gdf_17.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014,2013_14,2013_15,2013_16,2001
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70"

In [258]:
df_emp_micro = df_empleo_microempresa[['Municipio', '2013']]

In [259]:
gdf_18 = pd.merge(gdf_17, df_emp_micro, on='Municipio', how='inner')
gdf_18.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014,2013_14,2013_15,2013_16,2001,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77"

In [260]:
df_farma = df_farmacias[['Municipio', '2014']]

In [261]:
gdf_19 = pd.merge(gdf_18, df_farma, on='Municipio', how='inner', suffixes=('_13', '_19'))
gdf_19.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013,2014_19
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11"

In [262]:
df_gas = df_gasolineras[['Municipio', '2013']]

In [263]:
gdf_20 = pd.merge(gdf_19, df_gas, on='Municipio', how='inner', suffixes=('_18','_20'))
gdf_20.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07"

In [264]:
df_gast_xk_ss = df_gasto_percap_serv_soc[['Municipio', '2005']]

In [265]:
gdf_21 = pd.merge(gdf_20, df_gast_xk_ss, on='Municipio', how='inner')
gdf_21.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39"

In [266]:
df_gast_pres_ss = df_gasto_presup_servicios_sociales[['Municipio', '2005']]

In [267]:
gdf_22 = pd.merge(gdf_21, df_gast_pres_ss, on='Municipio', how='inner', suffixes=('_21','_22'))
gdf_22.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71"

In [268]:
df_gr_ocu_res = df_grado_ocupacion_residencias[['Municipio','2011']]

In [269]:
gdf_23 = pd.merge(gdf_22, df_gr_ocu_res, on='Municipio', how='inner')
gdf_23.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95"

In [270]:
df_guarde = df_guarderias[['Municipio', '2013']]

In [271]:
gdf_24 = pd.merge(gdf_23, df_guarde, on='Municipio', how='inner')
gdf_24.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53"

In [272]:
df_ind_abest_agua = df_indice_abestecimiento_agua[['Municipio', '2005']]

In [273]:
gdf_25 = pd.merge(gdf_24, df_ind_abest_agua, on='Municipio', how='inner')
gdf_25.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011,2013,2005
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44"

In [274]:
df_ind_conf_vivfam = df_indice_confort_viv_familias[['Municipio', '2011']]

In [275]:
gdf_26 = pd.merge(gdf_25, df_ind_conf_vivfam, on='Municipio', how='inner', suffixes=('_23', '_26'))
gdf_26.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013,2005,2011_26
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20"

In [276]:
df_indice_delitos['2013'].str.replace(',','.').astype(float).mean() #hay un NaN - 35.62
df_ind_delitos = df_indice_delitos[['Municipio', '2013']].fillna(35.62)

In [277]:
gdf_27 = pd.merge(gdf_26, df_ind_delitos, on='Municipio', how='inner', suffixes=('_24', '_27'))
gdf_27.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22"

In [278]:
df_ind_dep = df_indice_dependencia[['Municipio', '2013']]

In [279]:
gdf_28 = pd.merge(gdf_27, df_ind_dep, on='Municipio', how='inner')
gdf_28.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23"

In [280]:
df_ind_envj = df_indice_envejecimiento[['Municipio','2013']]

In [281]:
gdf_29 = pd.merge(gdf_28, df_ind_envj, on='Municipio', how='inner', suffixes=('_28', '_29'))
gdf_29.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87"

In [282]:
df_ind_est_const = df_indice_establ_construcc[['Municipio','2013']]

In [283]:
gdf_30 = pd.merge(gdf_29, df_ind_est_const, on='Municipio', how='inner')
gdf_30.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29"

In [284]:
df_ind_est_indus = df_indice_establ_industria[['Municipio', '2013']]

In [285]:
gdf_31 = pd.merge(gdf_30, df_ind_est_indus, on='Municipio', how='inner', suffixes=('_30', '_31'))
gdf_31.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43"

In [286]:
df_ind_est_sprim = df_indice_establ_sect_primario[['Municipio', '2013']]

In [287]:
gdf_32 = pd.merge(gdf_31, df_ind_est_sprim, on='Municipio', how='inner')
gdf_32.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19"

In [288]:
df_ind_est_sserv = df_indice_establ_sect_servicios[['Municipio', '2013']]

In [289]:
gdf_33 = pd.merge(gdf_32, df_ind_est_sserv, on='Municipio', how='inner', suffixes=('_32','_33'))
gdf_33.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09"

In [290]:
df_ind_host = df_indice_hosteleria[['Municipio', '2013']]

In [291]:
gdf_34 = pd.merge(gdf_33, df_ind_host, on='Municipio', how='inner')
gdf_34.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94"

In [292]:
df_ind_inf14 = df_indice_poblacion_infancia14[['Municipio','2013']]

In [293]:
gdf_35 = pd.merge(gdf_34, df_ind_inf14, on='Municipio', how='inner', suffixes=('_34','_35'))
gdf_35.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52"

In [294]:
df_inv_x_hab = df_inver_por_habitante[['Municipio', '2013']]

In [295]:
gdf_36 = pd.merge(gdf_35, df_inv_x_hab, on='Municipio', how='inner')
gdf_36.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68"

In [296]:
df_of_banco = df_oficinas_bancarias[['Municipio', '2013']]

In [297]:
gdf_37 = pd.merge(gdf_36, df_of_banco, on='Municipio', how='inner', suffixes=('_36','_37'))
gdf_37.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19"

In [298]:
df_of_correos = df_oficinas_correos[['Municipio', '2013']]

In [299]:
gdf_38 = pd.merge(gdf_37, df_of_correos, on='Municipio', how='inner')
gdf_38.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02"

In [300]:
df_pq_vehic = df_parque_vehiculos[['Municipio', '2013']]

In [301]:
gdf_39 = pd.merge(gdf_38, df_pq_vehic, on='Municipio', how='inner', suffixes=('_38','_39'))
gdf_39.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76"

In [302]:
df_plazas_aloj_turis = df_plazas_alojamiento_turistico[['Municipio','2010']]

In [303]:
gdf_40 = pd.merge(gdf_39, df_plazas_aloj_turis, on='Municipio', how='inner')
gdf_40.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53"

In [304]:
df_plazas_resi_disca = df_plazas_res_discapacitadas[['Municipio', '2011']]

In [305]:
gdf_41 = pd.merge(gdf_40, df_plazas_resi_disca, on='Municipio', how='inner')
gdf_41.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00"

In [306]:
df_plazas_resi_3edad = df_plazas_res_tercera_edad[['Municipio', '2011']]

In [307]:
gdf_42 = pd.merge(gdf_41, df_plazas_resi_3edad, on='Municipio', how='inner', suffixes=('_41', '_42'))
gdf_42.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04"

In [308]:
df_pob_est_prof = df_pob_estudios_profes[['Municipio', '2013']]

In [309]:
gdf_43 = pd.merge(gdf_42, df_pob_est_prof, on='Municipio', how='inner')
gdf_43.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01"

In [310]:
df_pob_est_2 = df_pob_estudios_secundarios[['Municipio', '2013']]

In [311]:
gdf_44 = pd.merge(gdf_43, df_pob_est_2, on='Municipio', how='inner', suffixes=('_43','_44'))
gdf_44.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27"

In [312]:
df_pob_est_univ = df_pob_estudios_univer[['Municipio', '2013']]

In [313]:
gdf_45 = pd.merge(gdf_44, df_pob_est_univ, on='Municipio', how='inner')
gdf_45.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39"

In [314]:
df_pob_est_fuera_mu = df_poblacion_estudia_fuera_munic[['Municipio', '2011']]

In [315]:
gdf_46 = pd.merge(gdf_45, df_pob_est_fuera_mu, on='Municipio', how='inner')
gdf_46.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44,2013,2011
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89"

In [316]:
df_pob_extranj = df_poblacion_extranjera[['Municipio', '2013']]

In [317]:
gdf_47 = pd.merge(gdf_46, df_pob_extranj, on='Municipio', how='inner', suffixes=('_45','_47'))
gdf_47.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44,2013_45,2011,2013_47
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07"

In [318]:
df_pob_tot = df_poblacion_total[['Municipio', '2013']]

In [319]:
gdf_48 = pd.merge(gdf_47, df_pob_tot, on='Municipio', how='inner')
gdf_48.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44,2013_45,2011,2013_47,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00"

In [320]:
df_pob_trabj_fuera_mu = df_poblacion_trabaja_fuera_munic[['Municipio', '2011']]

In [321]:
pd.options.display.max_columns= None
gdf_49 = pd.merge(gdf_48, df_pob_trabj_fuera_mu, on='Municipio', how='inner', suffixes=('_46', '_49'))
gdf_49.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013,2011_49
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36"

In [322]:
df_poli_local = df_policial_local[['Municipio', '2013']]

In [323]:
gdf_50 = pd.merge(gdf_49, df_poli_local, on='Municipio', how='inner', suffixes=('_48','_50'))
gdf_50.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55"

In [324]:
df_saldo_migra = df_saldo_migratorio[['Municipio', '2013']]

In [325]:
gdf_51 = pd.merge(gdf_50, df_saldo_migra, on='Municipio', how='inner')
gdf_51.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88"

In [326]:
df_suelo_urba = df_suelo_urbano[['Municipio', '2013']]

In [327]:
gdf_52 = pd.merge(gdf_51, df_suelo_urba, on='Municipio', how='inner', suffixes=('_51','_52'))
gdf_52.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12"

In [328]:
df_sup_agric = df_superficie_agricola[['Municipio', '2005']]

In [329]:
gdf_53 = pd.merge(gdf_52, df_sup_agric, on='Municipio', how='inner', suffixes=('_25', '_53'))
gdf_53.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16"

In [330]:
df_sup_forest = df_superficie_forestal[['Municipio', '2010']]

In [331]:
gdf_54 = pd.merge(gdf_53, df_sup_forest, on='Municipio', how='inner', suffixes=('_40','_54'))
gdf_54.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68"

In [332]:
df_sup_media_viv = df_superficie_media_viv[['Municipio','2013']]

In [333]:
gdf_55 = pd.merge(gdf_54, df_sup_media_viv, on='Municipio', how='inner')
gdf_55.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20"

In [334]:
df_superficie_parques_m2['2009'].str.replace(',','.').astype(float).mean() #hay un NaN - 19.96
df_sup_parq_m2 = df_superficie_parques_m2[['Municipio', '2009']].fillna(19.96)

In [335]:
gdf_56 = pd.merge(gdf_55, df_sup_parq_m2, on='Municipio', how='inner', suffixes=('_8','_56'))
gdf_56.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013,2009_56
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00","8,75"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50","103,45"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20","8,60"

In [336]:
df_superficie_parques_pers['2009'].str.replace(',','.').astype(float).mean() #hay un NaN - 36.58
df_sup_parq_perso = df_superficie_parques_pers[['Municipio', '2009']].fillna(36.58)

In [337]:
gdf_57 = pd.merge(gdf_56, df_sup_parq_perso, on='Municipio', how='inner')
gdf_57.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013,2009_56,2009
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00","8,75","10,40"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50","103,45","92,02"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20","8,60","14,60"

In [338]:
df_tasa_brt_natalid = df_tasa_bruta_natalidad[['Municipio', '2013']]

In [339]:
gdf_58 = pd.merge(gdf_57, df_tasa_brt_natalid, on='Municipio', how='inner', suffixes=('_55', '_58'))
gdf_58.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013_55,2009_56,2009,2013_58
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00","8,75","10,40","10,96"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50","103,45","92,02","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20","8,60","14,60","8,33"

In [340]:
df_tiempo_med_acc_carret = df_tiempo_medio_acceso_carret[['Municipio', '2006']]

In [341]:
gdf_59 = pd.merge(gdf_58, df_tiempo_med_acc_carret, on='Municipio', how='inner')
gdf_59.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013_55,2009_56,2009,2013_58,2006
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00","8,75","10,40","10,96","0,88"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50","103,45","92,02","0,00","6,53"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20","8,60","14,60","8,33","0,82"

In [342]:
df_tiempo_med_despl_hosp_ref = df_tiempo_medio_despla_hospital_ref[['Municipio', '2007']]

In [343]:
gdf_60 = pd.merge(gdf_59, df_tiempo_med_despl_hosp_ref, on='Municipio', how='inner')
gdf_60.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013_55,2009_56,2009,2013_58,2006,2007
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00","8,75","10,40","10,96","0,88","12,94"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50","103,45","92,02","0,00","6,53","10,73"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20","8,60","14,60","8,33","0,82","8,60"

In [344]:
df_variacion_poblac_decada['2013'].str.replace(',','.').astype(float).mean() #hay un NaN - 11.79
df_var_pob_10 = df_variacion_poblac_decada[['Municipio', '2013']].fillna(11.79)

In [345]:
gdf_61 = pd.merge(gdf_60, df_var_pob_10, on='Municipio', how='inner')
gdf_61.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013_55,2009_56,2009,2013_58,2006,2007,2013
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00","8,75","10,40","10,96","0,88","12,94","6,60"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50","103,45","92,02","0,00","6,53","10,73","17,44"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20","8,60","14,60","8,33","0,82","8,60","6,18"

In [346]:
df_viv_desocu = df_viv_desocupadas[['Municipio', '2011']]

In [347]:
gdf_62 = pd.merge(gdf_61, df_viv_desocu, on='Municipio', how='inner')
gdf_62.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013_55,2009_56,2009,2013_58,2006,2007,2013,2011
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00","8,75","10,40","10,96","0,88","12,94","6,60","13,36"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50","103,45","92,02","0,00","6,53","10,73","17,44","21,29"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20","8,60","14,60","8,33","0,82","8,60","6,18","11,36"

In [348]:
df_viv_mas_50 = df_viviendas_mas_50[['Municipio', '2013']]

In [349]:
gdf_63 = pd.merge(gdf_62, df_viv_mas_50, on='Municipio', how='inner', suffixes=('_61','_63'))
gdf_63.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013_55,2009_56,2009,2013_58,2006,2007,2013_61,2011,2013_63
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00","8,75","10,40","10,96","0,88","12,94","6,60","13,36","8,26"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50","103,45","92,02","0,00","6,53","10,73","17,44","21,29","25,48"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20","8,60","14,60","8,33","0,82","8,60","6,18","11,36","27,56"

In [350]:
df_zona_jueg_inf = df_zona_juegos_infantil[['Municipio','2009']]

In [351]:
gdf_64 = pd.merge(gdf_63, df_zona_jueg_inf, on='Municipio', how='inner', suffixes=('_57','_64'))
gdf_64.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013_55,2009_56,2009_57,2013_58,2006,2007,2013_61,2011,2013_63,2009_64
0,48001,Abadiño,43.75,"7,49","0,00","185,36","32,30","0,00","5,83","0,00","3,00","98,90","0,00","4,14","176,79","8,96","5,48","207,05","88,98","22,93","2,66","2,68","212,71","44,28","98,55","3,58","43,85","73,80","44,78","54,63","15,93","12,24","19,00","6,75","62,01","5,88","16,04","-77,67","9,33","1,34","0,73","20,38","9,34","0,00","21,77","57,59","17,56","94,05","4,97","7.458,00","66,02","1,07","-3,61","4,24","1,16","53,27","90,00","8,75","10,40","10,96","0,88","12,94","6,60","13,36","8,26","8,50"
1,20001,Abaltzisketa,25.00,"3,03","0,00","269,94","39,60","0,00","22,29","0,00","3,00","99,18","0,00","-9,09","152,31","0,00","0,00","28,80","100,00","55,94","0,00","0,00","261,93","49,18","0,00","0,00","52,75","71,60","48,48","73,68","16,67","5,13","2,56","41,03","51,28","18,18","19,39","717,01","0,00","0,00","0,83","12,46","0,00","0,00","16,49","49,10","13,62","100,00","2,73","330,00","74,44","0,00","0,00","0,24","0,18","53,48","107,50","103,45","92,02","0,00","6,53","10,73","17,44","21,29","25,48","14,93"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"12,65","0,00","250,51","39,70","0,00","2,89","9,77","3,00","99,45","0,00","-0,62","178,40","7,71","3,81","603,09","94,70","26,77","3,11","3,07","480,39","92,71","84,95","3,53","42,44","67,20","51,22","52,23","15,87","20,29","13,43","2,19","64,09","4,94","14,52","45,68","6,19","1,02","0,76","4,53","0,00","60,04","23,01","58,27","16,39","84,89","2,07","9.758,00","80,36","1,55","-2,88","12,12","2,16","35,68","78,20","8,60","14,60","8,33","0,82","8,60","6,18","11,36","27,56","18,13"

## Muchos de las variables, casi todas, son strings por lo que no van a ser muy utiles para hacer modelos de prediccion. Asi que generamos una funcion que convierta los string en float.

In [352]:
def to_float_from_str_decimal(string):
    """ It convert '12,5' to 12.5 """
    try:
        return float(string.replace(',', '.'))
    except:
        return float(string.replace('.','')[:-3])
    
to_float_from_str_decimal('1.900,00')

1900.0

In [356]:
gdf_64.to_csv('convertir2013.csv')

In [357]:
S_GDF = pd.read_csv('../TFM/convertir2013.csv',
                   converters={'2013_2': to_float_from_str_decimal,          
                                             '2009_3': to_float_from_str_decimal,
                                             '2009_4': to_float_from_str_decimal,
                                             '2013_5': to_float_from_str_decimal,
                                             '2009_6': to_float_from_str_decimal,
                                             '2013_7': to_float_from_str_decimal,
                                             '2009_8': to_float_from_str_decimal,
                                             '2013_9': to_float_from_str_decimal,
                                            '2013_10': to_float_from_str_decimal,
                                             '2013_11': to_float_from_str_decimal,
                                             '2013_12': to_float_from_str_decimal,
                                             '2014_13': to_float_from_str_decimal,
                                             '2013_14': to_float_from_str_decimal,
                                             '2013_15': to_float_from_str_decimal,
                                             '2013_16': to_float_from_str_decimal,
                                              '2001': to_float_from_str_decimal,
                                             '2013_18': to_float_from_str_decimal,
                                             '2014_19': to_float_from_str_decimal,
                                             '2013_20': to_float_from_str_decimal,
                                             '2005_21': to_float_from_str_decimal,
                                             '2005_22': to_float_from_str_decimal,
                                             '2011_23': to_float_from_str_decimal,
                                             '2013_24': to_float_from_str_decimal,
                                             '2005_25': to_float_from_str_decimal,
                                             '2011_26': to_float_from_str_decimal,
                                             '2013_27': to_float_from_str_decimal,
                                             '2013_28': to_float_from_str_decimal,
                                             '2013_29': to_float_from_str_decimal,
                                             '2013_30': to_float_from_str_decimal,
                                             '2013_31': to_float_from_str_decimal,
                                             '2013_32': to_float_from_str_decimal,
                                             '2013_33': to_float_from_str_decimal,
                                             '2013_34': to_float_from_str_decimal,
                                             '2013_35': to_float_from_str_decimal,
                                             '2013_36': to_float_from_str_decimal,
                                             '2013_37': to_float_from_str_decimal,
                                             '2013_38': to_float_from_str_decimal,
                                             '2013_39': to_float_from_str_decimal,
                                             '2010_40': to_float_from_str_decimal,
                                             '2011_41': to_float_from_str_decimal,
                                             '2011_42': to_float_from_str_decimal,
                                             '2013_43': to_float_from_str_decimal,
                                             '2013_44': to_float_from_str_decimal,
                                             '2013_45': to_float_from_str_decimal,
                                             '2011_46': to_float_from_str_decimal,
                                             '2013_47': to_float_from_str_decimal,
                                             '2013_48': to_float_from_str_decimal,
                                             '2011_49': to_float_from_str_decimal,
                                             '2013_50': to_float_from_str_decimal,
                                             '2013_51': to_float_from_str_decimal,
                                             '2013_52': to_float_from_str_decimal,
                                             '2005_53': to_float_from_str_decimal,
                                             '2010_54': to_float_from_str_decimal,
                                             '2013_55': to_float_from_str_decimal,
                                             '2009_56': to_float_from_str_decimal,
                                             '2009_57': to_float_from_str_decimal,
                                             '2013_58': to_float_from_str_decimal,
                                             '2006': to_float_from_str_decimal,
                                             '2007': to_float_from_str_decimal,
                                             '2013_61': to_float_from_str_decimal,
                                             '2011': to_float_from_str_decimal,
                                             '2013_63': to_float_from_str_decimal,
                                             '2009_64': to_float_from_str_decimal,
                                            })
S_GDF_1 = S_GDF.drop('Unnamed: 0', axis=1)

## Hasta ahora hemos ido sumando predictores/variables/indices de sostenibilidad al Dataframe del 2013 con todos los municipios con informacion disponible.

Ahora crearemos un nuevo Dataframe solo con la informacion de participacion en las elecciones municipales

In [358]:
df_particip_elec_municip.head(3)

,Código municipio,Municipio,2015,2011,2007,2003
0,48001,Abadiño,"68,57","71,16","65,94","72,90"
1,20001,Abaltzisketa,"62,45","66,13","55,70","60,39"
2,48002,Abanto y Ciérvana-Abanto Zierbena,"63,44","65,24","63,76","68,34"

In [359]:
df_0 = df_particip_elec_municip[['Código municipio','Municipio', '2003', '2007', '2011', '2015']]

In [360]:
df_0['2015'].str.replace(',', '.').astype(float).describe()
#hemos hecho describe de las 4 elecciones para hacer el average
#median 2003 - %77.09
#median 2007 - %70.28
#median 2011 - %73.13
#median 2015 - %69.87
#average - %72.59

count    250.000000
mean      71.020680
std        8.405047
min       31.370000
25%       64.377500
50%       69.875000
75%       78.095000
max       91.530000
Name: 2015, dtype: float64

## Tenemos la media de las medianas de todas las utimas elecciones, la utilizaremos de referencia para crear una etiqueta para nuestro clasificador

In [361]:
df_0['2015'] = df_0['2015'].str.replace(',', '.').astype(float)

In [362]:
df_0.head(3)

,Código municipio,Municipio,2003,2007,2011,2015
0,48001,Abadiño,"72,90","65,94","71,16",68.57
1,20001,Abaltzisketa,"60,39","55,70","66,13",62.45
2,48002,Abanto y Ciérvana-Abanto Zierbena,"68,34","63,76","65,24",63.44

In [363]:
#He creado una funcion para generar un label que añadire al dataframe que etiqueta los municipios en base 
#a su nivel de participacion ciudadana en las elecciones municipales, tomando como referencia la mediana que no la
#media ya que sirve en este caso mejor de referencia para evitar datos outliers de poblaciones pequeñas. 
def label_partic(participacion):
    if participacion > 72.59:
        return 1
    else:
        return 2
label_partic(50)

2

In [364]:
df_0['2015_partic'] = df_0['2015'].apply(label_partic)

In [365]:
df_0.head(3)

,Código municipio,Municipio,2003,2007,2011,2015,2015_partic
0,48001,Abadiño,"72,90","65,94","71,16",68.57,2
1,20001,Abaltzisketa,"60,39","55,70","66,13",62.45,2
2,48002,Abanto y Ciérvana-Abanto Zierbena,"68,34","63,76","65,24",63.44,2

In [366]:
df_clasif_2015 = df_0[['Municipio','2015', '2015_partic']]
df_clasif_2015.columns = ['Municipio', '2015_elecc', '2015_partic']
df_clasif_2015.head(3)

                           Municipio  2015_elecc  2015_partic
0                            Abadiño       68.57            2
1                       Abaltzisketa       62.45            2
2  Abanto y Ciérvana-Abanto Zierbena       63.44            2

In [368]:
gdf_65 = pd.merge(S_GDF_1, df_clasif_2015, on='Municipio', how='inner')
gdf_65.head(3)

,Código municipio,Municipio,2009_1,2013_2,2009_3,2009_4,2013_5,2009_6,2013_7,2009_8,2013_9,2013_10,2013_11,2013_12,2014_13,2013_14,2013_15,2013_16,2001,2013_18,2014_19,2013_20,2005_21,2005_22,2011_23,2013_24,2005_25,2011_26,2013_27,2013_28,2013_29,2013_30,2013_31,2013_32,2013_33,2013_34,2013_35,2013_36,2013_37,2013_38,2013_39,2010_40,2011_41,2011_42,2013_43,2013_44,2013_45,2011_46,2013_47,2013_48,2011_49,2013_50,2013_51,2013_52,2005_53,2010_54,2013_55,2009_56,2009_57,2013_58,2006,2007,2013_61,2011,2013_63,2009_64,2015_elecc,2015_partic
0,48001,Abadiño,43.75,7.49,0.0,185.36,32.3,0.0,5.83,0.00,3.0,98.90,0.0,4.14,176.79,8.96,5.48,207.05,88.98,22.93,2.66,2.68,212.71,44.28,98.55,3.58,43.85,73.8,44.78,54.63,15.93,12.24,19.00,6.75,62.01,5.88,16.04,-77.67,9.33,1.34,0.73,20.38,9.34,0.00,21.77,57.59,17.56,94.05,4.97,7458.0,66.02,1.07,-3.61,4.24,1.16,53.27,90.0,8.75,10.40,10.96,0.88,12.94,6.60,13.36,8.26,8.50,68.57,2
1,20001,Abaltzisketa,25.00,3.03,0.0,269.94,39.6,0.0,22.29,0.00,3.0,99.18,0.0,-9.09,152.31,0.00,0.00,28.80,100.00,55.94,0.00,0.00,261.93,49.18,0.00,0.00,52.75,71.6,48.48,73.68,16.67,5.13,2.56,41.03,51.28,18.18,19.39,717.01,0.00,0.00,0.83,12.46,0.00,0.00,16.49,49.10,13.62,100.00,2.73,330.0,74.44,0.00,0.00,0.24,0.18,53.48,107.5,103.45,92.02,0.00,6.53,10.73,17.44,21.29,25.48,14.93,62.45,2
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,12.65,0.0,250.51,39.7,0.0,2.89,9.77,3.0,99.45,0.0,-0.62,178.40,7.71,3.81,603.09,94.70,26.77,3.11,3.07,480.39,92.71,84.95,3.53,42.44,67.2,51.22,52.23,15.87,20.29,13.43,2.19,64.09,4.94,14.52,45.68,6.19,1.02,0.76,4.53,0.00,60.04,23.01,58.27,16.39,84.89,2.07,9758.0,80.36,1.55,-2.88,12.12,2.16,35.68,78.2,8.60,14.60,8.33,0.82,8.60,6.18,11.36,27.56,18.13,63.44,2

## Para que todo el mundo tenga ya accesible el Dataframe, limpio y ordenado, vamos a subirlo a un archivo csv con el nombre de GDataFrame_2009.csv

In [369]:
gdf_65.to_csv('GDataframe_2013.csv')