## ¿Por que estan dificil saber quien va a ir a Votar?
##Hay dos motivos muy humanos para explicarlo: que las personas somos optimistas en exceso y que nos gusta quedar bien

## https://elpais.com/politica/2019/04/07/actualidad/1554639446_309283.html

# Importando las Librerias en principio mas necesarias para este segundo paso de generar un nuevo Gran Tablon para los datos de 2017.

Este Tablon estará compuesto por diferentes Dataframes, que deberemos "merger" en uno solo.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as py
%matplotlib inline

# Tendre que reutilizar los pasos hechos en el primer y segundo notebooks para poder acceder a la informacion y luego merger las columnas con los años mas cercanos al 2017

In [2]:
accesibilidad = '../TFM/1_Data/accesibilidad.csv'

In [3]:
pd.options.display.max_columns=None

df_accesibilidad = pd.read_csv(accesibilidad, sep=';', encoding='latin-1', skiprows= 33)

In [6]:
accidentes_trafico = '../TFM/1_Data/accidentetrafic.csv'
df_accident_trafico = pd.read_csv(accidentes_trafico, sep=';', encoding='latin-1', skiprows= 33)

In [7]:
calidad_agua_consumo = '../TFM/1_Data/aguayaire/Calificacion sanitaria del agua de consumo.csv'
df_calidad_agua_consumo = pd.read_csv(calidad_agua_consumo, sep=';', encoding='latin-1', skiprows= 4)

In [8]:
demanda_agua = '../TFM/1_Data/aguayaire/Demanda total de agua por habitante y dia (l_hab._dia).csv'
df_demanda_agua = pd.read_csv(demanda_agua, sep=';', encoding='latin-1', skiprows= 33)

In [9]:
calidad_aire = '../TFM/1_Data/aguayaire/Dias con calidad del aire buena o admisible (%).csv'
df_calidad_aire = pd.read_csv(calidad_aire, sep=';', encoding='latin-1', skiprows= 33)

In [10]:
alumbrado = '../TFM/1_Data/alumbrado.csv'
df_alumbrado = pd.read_csv(alumbrado, sep=';', encoding='latin-1', skiprows= 33)

In [11]:
antiguedad_vivienda = '../TFM/1_Data/antiguedadmediavivienda.csv'
df_antiguedad_vivienda = pd.read_csv(antiguedad_vivienda, sep=';', encoding='latin-1', skiprows= 33)

In [12]:
aseos_publicos = '../TFM/1_Data/aseos.csv'
df_aseos_publicos = pd.read_csv(aseos_publicos, sep=';', encoding='latin-1', skiprows= 33)

In [14]:
bibliotecas = '../TFM/1_Data/biblios.csv'
df_bibliotecas = pd.read_csv(bibliotecas, sep=';', encoding='latin-1', skiprows= 33)

In [15]:
bidegorris = '../TFM/1_Data/bidegorris.csv'
df_bidegorris = pd.read_csv(bidegorris, sep=';', encoding='latin-1', skiprows= 33)

In [16]:
gasto_presup_servicios_sociales = '../TFM/1_Data/bienestar/Gasto corriente del presupuesto municipal per capita en Servicios Sociales ().csv'
df_gasto_presup_servicios_sociales = pd.read_csv(gasto_presup_servicios_sociales, sep=';', encoding='latin-1', skiprows= 10)

In [17]:
gasto_percap_serv_soc = '../TFM/1_Data/bienestar/Gasto total per capita en Servicios Sociales ().csv'
df_gasto_percap_serv_soc = pd.read_csv(gasto_percap_serv_soc, sep=';', encoding='latin-1', skiprows= 33)

In [18]:
plazas_res_tercera_edad = '../TFM/1_Data/bienestar/Plazas en centros residenciales para la 3 edad ( habitantes de 65 y mas anos).csv'
df_plazas_res_tercera_edad = pd.read_csv(plazas_res_tercera_edad, sep=';', encoding='latin-1', skiprows= 33)

In [19]:
plazas_res_discapacitadas = '../TFM/1_Data/bienestar/Plazas en centros residenciales para personas discapacitadas ( habitantes).csv'
df_plazas_res_discapacitadas = pd.read_csv(plazas_res_discapacitadas, sep=';', encoding='latin-1', skiprows= 33)

In [20]:
grado_ocupacion_residencias = '../TFM/1_Data/bienestar/Grado de ocupacion de los centros residenciales (3 edad y personas con discapacidad) (%).csv'
df_grado_ocupacion_residencias = pd.read_csv(grado_ocupacion_residencias, sep=';', encoding='latin-1', skiprows= 33)

In [21]:
tasa_bruta_natalidad = '../TFM/1_Data/brutanatalidad.csv'
df_tasa_bruta_natalidad = pd.read_csv(tasa_bruta_natalidad, sep=';', encoding='latin-1', skiprows= 33)

In [22]:
aforo_cines = '../TFM/1_Data/calidaddevida/Aforo de cines (butacas por  habitantes).csv'
df_aforo_cines = pd.read_csv(aforo_cines, sep=';', encoding='latin-1', skiprows= 33)

In [23]:
densidad_poblacional = '../TFM/1_Data/calidaddevida/Densidad poblacional (Hab._Km).csv'
df_densidad_poblacion = pd.read_csv(densidad_poblacional, sep=';', encoding='latin-1', skiprows= 33)

In [24]:
policial_local = '../TFM/1_Data/calidaddevida/Dotacion policial local ( habitantes).csv'
df_policial_local = pd.read_csv(policial_local, sep=';', encoding='latin-1', skiprows= 33)

In [25]:
edif_sin_ascensor = '../TFM/1_Data/calidaddevida/Edificios de viviendas de 2 o mas plantas sin ascensor (%).csv'
df_edif_sin_ascensor = pd.read_csv(edif_sin_ascensor, sep=';', encoding='latin-1', skiprows= 10)

In [26]:
edif_municip_accesibles = '../TFM/1_Data/calidaddevida/Equipamientos y edificios municipales accesibles (%).csv'
df_edif_municip_accesibles = pd.read_csv(edif_municip_accesibles, sep=';', encoding='latin-1', skiprows= 33)

In [27]:
farmacias = '../TFM/1_Data/calidaddevida/Farmacias (por cada 10.000 habitantes).csv'
df_farmacias = pd.read_csv(farmacias, sep=';', encoding='latin-1', skiprows= 33)

In [28]:
gasolineras = '../TFM/1_Data/calidaddevida/Gasolineras (por cada 10.000 habitantes).csv'
df_gasolineras = pd.read_csv(gasolineras, sep=';', encoding='latin-1', skiprows= 33)

In [29]:
indice_confort_viv_familias = '../TFM/1_Data/calidaddevida/Indice de confort de las viviendas familiares principales.csv'
df_indice_confort_viv_familias = pd.read_csv(indice_confort_viv_familias, sep=';', encoding='latin-1', skiprows= 33)

In [30]:
indice_delitos = '../TFM/1_Data/calidaddevida/Indice de delitos ( habitantes).csv'
df_indice_delitos = pd.read_csv(indice_delitos, sep=';', encoding='latin-1', skiprows= 33)

In [31]:
indice_dependencia = '../TFM/1_Data/calidaddevida/Indice de dependencia demografica (%).csv'
df_indice_dependencia = pd.read_csv(indice_dependencia, sep=';', encoding='latin-1', skiprows= 33)

In [32]:
indice_envejecimiento = '../TFM/1_Data/calidaddevida/Indice de envejecimiento: Poblacion de 65 y mas anos (%).csv'
df_indice_envejecimiento = pd.read_csv(indice_envejecimiento, sep=';', encoding='latin-1', skiprows= 33)

In [33]:
indice_poblacion_infancia14 = '../TFM/1_Data/calidaddevida/Indice de infancia: Poblacion de 0-14 anos (%).csv'
df_indice_poblacion_infancia14 = pd.read_csv(indice_poblacion_infancia14, sep=';', encoding='latin-1', skiprows= 33)

In [34]:
indice_abestecimiento_agua = '../TFM/1_Data/calidaddevida/Indice de rendimiento del sistema de abastecimiento de agua (%).csv'
df_indice_abestecimiento_agua = pd.read_csv(indice_abestecimiento_agua, sep=';', encoding='latin-1', skiprows= 10)

In [35]:
oficinas_bancarias = '../TFM/1_Data/calidaddevida/Oficinas bancarias ( por cada 10.000 habitantes).csv'
df_oficinas_bancarias = pd.read_csv(oficinas_bancarias, sep=';', encoding='latin-1', skiprows= 33)

In [36]:
oficinas_correos = '../TFM/1_Data/calidaddevida/Oficinas de Correos (por cada 10.000 habitantes).csv'
df_oficinas_correos = pd.read_csv(oficinas_correos, sep=';', encoding='latin-1', skiprows= 33)

In [37]:
particip_elec_municip = '../TFM/1_Data/calidaddevida/Participacion en elecciones municipales (% s_censo electoral).csv'
df_particip_elec_municip = pd.read_csv(particip_elec_municip, sep=';', encoding='latin-1', skiprows= 33)

In [38]:
poblacion_extranjera = '../TFM/1_Data/calidaddevida/Poblacion extranjera (%).csv'
df_poblacion_extranjera = pd.read_csv(poblacion_extranjera, sep=';', encoding='latin-1', skiprows= 33)

In [39]:
poblacion_total = '../TFM/1_Data/calidaddevida/Poblacion total (hab.).csv'
df_poblacion_total = pd.read_csv(poblacion_total, sep=';', encoding='latin-1', skiprows= 33)

In [40]:
puntos_alumbrado_pub = '../TFM/1_Data/calidaddevida/Puntos de alumbrado publico ( habitantes).csv'
df_puntos_alumbrado_pub = pd.read_csv(puntos_alumbrado_pub, sep=';', encoding='latin-1', skiprows= 33)

In [41]:
saldo_migratorio = '../TFM/1_Data/calidaddevida/Saldo migratorio externo ().csv'
df_saldo_migratorio = pd.read_csv(saldo_migratorio, sep=';', encoding='latin-1', skiprows= 33)

In [42]:
suelo_urbano = '../TFM/1_Data/calidaddevida/Suelo urbano (%).csv'
df_suelo_urbano = pd.read_csv(suelo_urbano, sep=';', encoding='latin-1', skiprows= 33)

In [43]:
superficie_media_viv = '../TFM/1_Data/calidaddevida/Superficie media de las viviendas familiares (m).csv'
df_superficie_media_viv = pd.read_csv(superficie_media_viv, sep=';', encoding='latin-1', skiprows= 33)

In [44]:
tasa_crec_vegetativo = '../TFM/1_Data/calidaddevida/Tasa de crecimiento vegetativo ().csv'
df_tasa_crec_vegetativo = pd.read_csv(tasa_crec_vegetativo, sep=';', encoding='latin-1', skiprows= 33)

In [45]:
tiempo_medio_despla_hospital_ref = '../TFM/1_Data/calidaddevida/Tiempo medio de desplazamiento al hospital de referencia (min.).csv'
df_tiempo_medio_despla_hospital_ref = pd.read_csv(tiempo_medio_despla_hospital_ref, sep=';', encoding='latin-1', skiprows= 33)

In [46]:
guarderias = '../TFM/1_Data/calidaddevida/Unidades de educacion infantil por cada 100 habitantes de 0 a 2 anos.csv'
df_guarderias = pd.read_csv(guarderias, sep=';', encoding='latin-1', skiprows= 33)

In [47]:
variacion_poblac_decada = '../TFM/1_Data/calidaddevida/Variacion de la poblacion en la ultima decada (%).csv'
df_variacion_poblac_decada = pd.read_csv(variacion_poblac_decada, sep=';', encoding='latin-1', skiprows= 33)

In [48]:
viviendas_mas_50 = '../TFM/1_Data/calidaddevida/Viviendas familiares con mas de 50 anos de antiguedad (%).csv'
df_viviendas_mas_50 = pd.read_csv(viviendas_mas_50, sep=';', encoding='latin-1', skiprows= 33)

In [49]:
viv_desocupadas = '../TFM/1_Data/calidaddevida/Viviendas familiares desocupadas (%).csv'
df_viv_desocupadas = pd.read_csv(viv_desocupadas, sep=';', encoding='latin-1', skiprows= 33)

In [50]:
zona_juegos_infantil = '../TFM/1_Data/calidaddevida/Zonas publicas de juegos infantiles ( habitantes de 0 a 14 anos).csv'
df_zona_juegos_infantil = pd.read_csv(zona_juegos_infantil, sep=';', encoding='latin-1', skiprows= 33)

In [51]:
viv_certif_energ = '../TFM/1_Data/concienciamedioambiental/Viviendas con certificado de eficiencia energetica  ( ).csv'
df_certif_energ = pd.read_csv(viv_certif_energ, sep=';', encoding='latin-1', skiprows= 33)

In [52]:
pob_estudios_secundarios = '../TFM/1_Data/formacion/Poblacion de mas de 10 anos que ha completado al menos Estudios Secundarios (%).csv'
df_pob_estudios_secundarios = pd.read_csv(pob_estudios_secundarios, sep=';', encoding='latin-1', skiprows= 33)

In [53]:
crecimiento_vegetativo = '../TFM/1_Data/crecimientovegetativo.csv'
df_crecimiento_vegetativo = pd.read_csv(crecimiento_vegetativo, sep=';', encoding='latin-1', skiprows= 33)

In [54]:
pob_estudios_univer = '../TFM/1_Data/formacion/Poblacion de mas de 10 anos que ha completado estudios Universitarios (%).csv'
df_pob_estudios_univer = pd.read_csv(pob_estudios_univer, sep=';', encoding='latin-1', skiprows= 33)

In [55]:
pob_estudios_profes = '../TFM/1_Data/formacion/Poblacion de mas de 10 anos que ha completado estudios profesionales (%).csv'
df_pob_estudios_profes = pd.read_csv(pob_estudios_profes, sep=';', encoding='latin-1', skiprows= 33)

In [56]:
inver_por_habitante = '../TFM/1_Data/inversionnetaxhabit.csv'
df_inver_por_habitante = pd.read_csv(inver_por_habitante, sep=';', encoding='latin-1', skiprows= 33)

In [57]:
parque_vehiculos = '../TFM/1_Data/parquevehiculos.csv'
df_parque_vehiculos = pd.read_csv(parque_vehiculos, sep=';', encoding='latin-1', skiprows= 33)

In [58]:
empleo_microempresa = '../TFM/1_Data/tejidoempres/Empleo generado por las microempresas (0-9 empleados) (%).csv'
df_empleo_microempresa = pd.read_csv(empleo_microempresa, sep=';', encoding='latin-1', skiprows= 33)

In [59]:
indice_establ_construc = '../TFM/1_Data/tejidoempres/Porcentaje de establecimientos del sector construccion sobre el total (%).csv'
df_indice_establ_construcc = pd.read_csv(indice_establ_construc, sep=';', encoding='latin-1', skiprows= 33)

In [60]:
indice_establ_industria = '../TFM/1_Data/tejidoempres/Porcentaje de establecimientos del sector industrial sobre el total (%).csv'
df_indice_establ_industria = pd.read_csv(indice_establ_industria, sep=';', encoding='latin-1', skiprows= 33)

In [61]:
indice_establ_sect_primario = '../TFM/1_Data/tejidoempres/Porcentaje de establecimientos del sector primario sobre el total (%).csv'
df_indice_establ_sect_primario = pd.read_csv(indice_establ_sect_primario, sep=';', encoding='latin-1', skiprows= 33)

In [62]:
indice_establ_sect_servicios = '../TFM/1_Data/tejidoempres/Porcentaje de establecimientos del sector servicios sobre el total (%).csv'
df_indice_establ_sect_servicios = pd.read_csv(indice_establ_sect_servicios, sep=';', encoding='latin-1', skiprows= 33)

In [63]:
poblacion_estudia_fuera_munic = '../TFM/1_Data/transporte/Poblacion estudiante de 16 y mas anos que estudia fuera del municipio de residencia (%).csv'
df_poblacion_estudia_fuera_munic = pd.read_csv(poblacion_estudia_fuera_munic, sep=';', encoding='latin-1', skiprows= 33)

In [64]:
poblacion_trabaja_fuera_munic = '../TFM/1_Data/transporte/Poblacion ocupada de 16 y mas anos que trabaja fuera del municipio de residencia (%).csv'
df_poblacion_trabaja_fuera_munic = pd.read_csv(poblacion_trabaja_fuera_munic, sep=';', encoding='latin-1', skiprows= 33)

In [65]:
tiempo_medio_acceso_carret = '../TFM/1_Data/transporte/Tiempo medio de acceso a carreteras principales (min.).csv'
df_tiempo_medio_acceso_carret = pd.read_csv(tiempo_medio_acceso_carret, sep=';', encoding='latin-1', skiprows= 10)

In [66]:
densidad_comercio_ocasional = '../TFM/1_Data/vitalidadturistica/Densidad comercial de bienes ocasionales ( habitantes).csv'
df_densidad_comercio_ocasional = pd.read_csv(densidad_comercio_ocasional, sep=';', encoding='latin-1', skiprows= 33)

In [67]:
densidad_comercio_minor = '../TFM/1_Data/vitalidadturistica/Densidad comercial minorista ( habitantes).csv'
df_densidad_comercio_minor = pd.read_csv(densidad_comercio_minor, sep=';', encoding='latin-1', skiprows= 33)

In [68]:
indice_hosteleria = '../TFM/1_Data/vitalidadturistica/Establecimientos de hosteleria y restauracion ( habitantes).csv'
df_indice_hosteleria = pd.read_csv(indice_hosteleria, sep=';', encoding='latin-1', skiprows= 33)

In [69]:
plazas_alojamiento_turistico = '../TFM/1_Data/vitalidadturistica/Plazas de alojamiento turistico ( habitantes).csv'
df_plazas_alojamiento_turistico = pd.read_csv(plazas_alojamiento_turistico, sep=';', encoding='latin-1', skiprows= 33)

In [70]:
superficie_agricola = '../TFM/1_Data/zonasverdes/Superficie agricola (% s_ superficie total).csv'
df_superficie_agricola = pd.read_csv(superficie_agricola, sep=';', encoding='latin-1', skiprows= 33)

In [71]:
superficie_forestal = '../TFM/1_Data/zonasverdes/Superficie forestal (% s  superficie total).csv'
df_superficie_forestal = pd.read_csv(superficie_forestal, sep=';', encoding='latin-1', skiprows= 33)

In [72]:
superficie_parques_m2 = '../TFM/1_Data/zonasverdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (%_suelo urbano).csv'
df_superficie_parques_m2 = pd.read_csv(superficie_parques_m2, sep=';', encoding='latin-1', skiprows= 33)

In [73]:
superficie_parques_pers = '../TFM/1_Data/zonasverdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (m_persona).csv'
df_superficie_parques_pers = pd.read_csv(superficie_parques_pers, sep=';', encoding='latin-1', skiprows= 33)

## Ahora hay montar el gran data frame de 2017 con todos los municipios y cada una de las variables (indices de sostenibilidad) seleccionadas para utilizarlas como predictores de las elecciones del 2019.

Al existir NANs (a cada DF le voy a pasar un metodo .isna().sum() para comprobrarlo) , hay que tener cuidado con los diferentes Dataframe, rellenando la informacion con la media.

In [74]:
df_accesibilidad.isna().sum()

Código municipio    0
Municipio           0
2009                4
2008                6
2007                8
2006                1
2005                4
dtype: int64

## Vamos a seleccionar de cada Dataframe las Columna Municipio y el año 2017 o  mas cercano en caso de no existir, en algun caso deberemos repetir los mismos datos que en el primer paso.

In [75]:
gran_dataframe = df_accesibilidad[['Código municipio','Municipio','2009']].fillna('59,64')
gran_dataframe['2009'] = gran_dataframe['2009'].str.replace(',', '.').astype(float)
# gran_dataframe.describe()  para saber la media del 2009 y rellenar los NaN con ese dato = 59.64
gran_dataframe[140:142]

     Código municipio           Municipio   2009
140              1031           Laguardia  100.0
141              1032  Lanciego/Lantziego  100.0

In [76]:
df_accid_t = df_accident_trafico[['Municipio','2017']] 
df_accid_t.head(3)

                           Municipio   2017
0                            Abadiño  14,08
1                       Abaltzisketa   3,07
2  Abanto y Ciérvana-Abanto Zierbena  11,51

## Hacemos un Merge en el Municipio e Inner para obtener solo un Dataframe donde tengamos informacion disponible de todos los municipios

In [77]:
gdf_2 = pd.merge(gran_dataframe, df_accid_t, on='Municipio', how='inner')
gdf_2.head(3)

   Código municipio                          Municipio   2009   2017
0             48001                            Abadiño  43.75  14,08
1             20001                       Abaltzisketa  25.00   3,07
2             48002  Abanto y Ciérvana-Abanto Zierbena  30.77  11,51

In [78]:
df_af_cines = df_aforo_cines[['Municipio','2009']]

In [79]:
gdf_3 = pd.merge(gdf_2, df_af_cines, on='Municipio', how='inner', suffixes=('_1','_3'))
gdf_3.head(3)

   Código municipio                          Municipio  2009_1   2017 2009_3
0             48001                            Abadiño   43.75  14,08   0,00
1             20001                       Abaltzisketa   25.00   3,07   0,00
2             48002  Abanto y Ciérvana-Abanto Zierbena   30.77  11,51   0,00

In [80]:
df_alumb = df_alumbrado[['Municipio','2009']]

In [81]:
gdf_4 = pd.merge(gdf_3, df_alumb, on='Municipio', how='inner')
gdf_4.head(3)

,Código municipio,Municipio,2009_1,2017,2009_3,2009
0,48001,Abadiño,43.75,"14,08","0,00","185,36"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51"

In [82]:
df_ant_viv = df_antiguedad_vivienda[['Municipio', '2016']]

In [83]:
gdf_5 = pd.merge(gdf_4, df_ant_viv, on='Municipio', how='inner')
gdf_5.head(3)

,Código municipio,Municipio,2009_1,2017,2009_3,2009,2016
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80"

In [84]:
df_wc_pub = df_aseos_publicos[['Municipio', '2009']]

In [85]:
gdf_6 = pd.merge(gdf_5, df_wc_pub, on='Municipio', how='inner', suffixes=('_4','_6'))
gdf_6.head(3)

,Código municipio,Municipio,2009_1,2017,2009_3,2009_4,2016,2009_6
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00"

In [86]:
df_bibli = df_bibliotecas[['Municipio', '2017']]

In [87]:
gdf_7 = pd.merge(gdf_6, df_bibli, on='Municipio', how='inner', suffixes=('_2','_7'))
gdf_7.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016,2009_6,2017_7
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42"

In [88]:
df_bi_go = df_bidegorris[['Municipio', '2009']]

In [89]:
gdf_8 = pd.merge(gdf_7, df_bi_go, on='Municipio', how='inner')
gdf_8.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016,2009_6,2017_7,2009
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77"

In [90]:
df_cld_agua = df_calidad_agua_consumo[['Municipio', '2016']].fillna(3)

In [91]:
gdf_9 = pd.merge(gdf_8, df_cld_agua, on='Municipio', how='inner', suffixes=('_5','_9'))
gdf_9.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00"

In [92]:
df_cld_air = df_calidad_aire[['Municipio', '2013']]

In [93]:
gdf_10 = pd.merge(gdf_9, df_cld_air, on='Municipio', how='inner')
gdf_10.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45"

In [94]:
df_ct_ener = df_certif_energ[['Municipio', '2015']]

In [95]:
gdf_11 = pd.merge(gdf_10, df_ct_ener, on='Municipio', how='inner')
gdf_11.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19"

In [96]:
df_crcto_veg = df_crecimiento_vegetativo[['Municipio', '2017']]

In [97]:
gdf_12 = pd.merge(gdf_11, df_crcto_veg, on='Municipio', how='inner')
gdf_12.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35"

In [98]:
df_dmd_agua = df_demanda_agua[['Municipio', '2017']]

In [99]:
gdf_13 = pd.merge(gdf_12, df_dmd_agua, on='Municipio', how='inner', suffixes=('_12', '_13'))
gdf_13.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27"

In [100]:
df_dens_com_min  = df_densidad_comercio_minor[['Municipio', '2017']]

In [101]:
gdf_14 = pd.merge(gdf_13, df_dens_com_min, on='Municipio', how='inner')
gdf_14.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59"

In [102]:
df_dens_com_ocas = df_densidad_comercio_ocasional[['Municipio','2017']]

In [103]:
gdf_15 = pd.merge(gdf_14, df_dens_com_ocas, on='Municipio', how='inner', suffixes=('_14', '_15'))
gdf_15.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82"

In [104]:
df_dens_pob = df_densidad_poblacion[['Municipio', '2017']]

In [105]:
gdf_16 = pd.merge(gdf_15, df_dens_pob, on='Municipio', how='inner')
gdf_16.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80"

In [106]:
df_ed_sin_asc = df_edif_sin_ascensor[['Municipio', '2001']]

In [107]:
gdf_17 = pd.merge(gdf_16, df_ed_sin_asc, on='Municipio', how='inner')
gdf_17.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017,2001
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70"

In [108]:
df_emp_micro = df_empleo_microempresa[['Municipio', '2017']]

In [109]:
gdf_18 = pd.merge(gdf_17, df_emp_micro, on='Municipio', how='inner',suffixes=('_16', '_18'))
gdf_18.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64"

In [110]:
df_farma = df_farmacias[['Municipio', '2016']]

In [111]:
gdf_19 = pd.merge(gdf_18, df_farma, on='Municipio', how='inner')
gdf_19.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13"

In [112]:
df_gas = df_gasolineras[['Municipio', '2017']]

In [113]:
gdf_20 = pd.merge(gdf_19, df_gas, on='Municipio', how='inner')
gdf_20.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14"

In [114]:
df_gast_xk_ss = df_gasto_percap_serv_soc[['Municipio', '2005']]

In [115]:
gdf_21 = pd.merge(gdf_20, df_gast_xk_ss, on='Municipio', how='inner')
gdf_21.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016,2017,2005
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39"

In [116]:
df_gast_pres_ss = df_gasto_presup_servicios_sociales[['Municipio', '2005']]

In [117]:
gdf_22 = pd.merge(gdf_21, df_gast_pres_ss, on='Municipio', how='inner', suffixes=('_21','_22'))
gdf_22.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016,2017,2005_21,2005_22
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71"

In [118]:
df_gr_ocu_res = df_grado_ocupacion_residencias[['Municipio','2016']]

In [119]:
gdf_23 = pd.merge(gdf_22, df_gr_ocu_res, on='Municipio', how='inner',suffixes=('_19', '_23'))
gdf_23.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017,2005_21,2005_22,2016_23
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16"

In [120]:
df_guarde = df_guarderias[['Municipio', '2017']]

In [121]:
gdf_24 = pd.merge(gdf_23, df_guarde, on='Municipio', how='inner',suffixes=('_20', '_24'))
gdf_24.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35"

In [122]:
df_ind_abest_agua = df_indice_abestecimiento_agua[['Municipio', '2005']]

In [123]:
gdf_25 = pd.merge(gdf_24, df_ind_abest_agua, on='Municipio', how='inner')
gdf_25.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44"

In [124]:
df_ind_conf_vivfam = df_indice_confort_viv_familias[['Municipio', '2011']]

In [125]:
gdf_26 = pd.merge(gdf_25, df_ind_conf_vivfam, on='Municipio', how='inner')
gdf_26.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20"

In [126]:
df_indice_delitos['2017'].str.replace(',','.').astype(float).mean() #hay un NaN - 31.48
df_ind_delitos = df_indice_delitos[['Municipio', '2017']].fillna(31.48)

In [127]:
gdf_27 = pd.merge(gdf_26, df_ind_delitos, on='Municipio', how='inner')
gdf_27.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56"

In [128]:
df_ind_dep = df_indice_dependencia[['Municipio', '2017']]

In [129]:
gdf_28 = pd.merge(gdf_27, df_ind_dep, on='Municipio', how='inner',suffixes=('_27', '_28'))
gdf_28.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27"

In [130]:
df_ind_envj = df_indice_envejecimiento[['Municipio','2017']]

In [131]:
gdf_29 = pd.merge(gdf_28, df_ind_envj, on='Municipio', how='inner')
gdf_29.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24"

In [132]:
df_ind_est_const = df_indice_establ_construcc[['Municipio','2017']]

In [133]:
gdf_30 = pd.merge(gdf_29, df_ind_est_const, on='Municipio', how='inner',suffixes=('_29', '_30'))
gdf_30.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56"

In [134]:
df_ind_est_indus = df_indice_establ_industria[['Municipio', '2017']]

In [135]:
gdf_31 = pd.merge(gdf_30, df_ind_est_indus, on='Municipio', how='inner')
gdf_31.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13"

In [136]:
df_ind_est_sprim = df_indice_establ_sect_primario[['Municipio', '2017']]

In [137]:
gdf_32 = pd.merge(gdf_31, df_ind_est_sprim, on='Municipio', how='inner',suffixes=('_31', '_32'))
gdf_32.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98"

In [138]:
df_ind_est_sserv = df_indice_establ_sect_servicios[['Municipio', '2017']]

In [139]:
gdf_33 = pd.merge(gdf_32, df_ind_est_sserv, on='Municipio', how='inner')
gdf_33.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33"

In [140]:
df_ind_host = df_indice_hosteleria[['Municipio', '2017']]

In [141]:
gdf_34 = pd.merge(gdf_33, df_ind_host, on='Municipio', how='inner',suffixes=('_33', '_34'))
gdf_34.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65"

In [142]:
df_ind_inf14 = df_indice_poblacion_infancia14[['Municipio','2017']]

In [143]:
gdf_35 = pd.merge(gdf_34, df_ind_inf14, on='Municipio', how='inner')
gdf_35.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72"

In [144]:
df_inv_x_hab = df_inver_por_habitante[['Municipio', '2016']]

In [145]:
gdf_36 = pd.merge(gdf_35, df_inv_x_hab, on='Municipio', how='inner')
gdf_36.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017,2016
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05"

In [146]:
df_of_banco = df_oficinas_bancarias[['Municipio', '2013']]

In [147]:
gdf_37 = pd.merge(gdf_36, df_of_banco, on='Municipio', how='inner', suffixes=('_10','_37'))
gdf_37.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017,2016,2013_37
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19"

In [148]:
df_of_correos = df_oficinas_correos[['Municipio', '2017']]

In [149]:
gdf_38 = pd.merge(gdf_37, df_of_correos, on='Municipio', how='inner',suffixes=('_35', '_38'))
gdf_38.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016,2013_37,2017_38
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05"

In [150]:
df_pq_vehic = df_parque_vehiculos[['Municipio', '2016']]

In [151]:
gdf_39 = pd.merge(gdf_38, df_pq_vehic, on='Municipio', how='inner', suffixes=('_36','_39'))
gdf_39.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76"

In [152]:
df_plazas_aloj_turis = df_plazas_alojamiento_turistico[['Municipio','2017']]

In [153]:
gdf_40 = pd.merge(gdf_39, df_plazas_aloj_turis, on='Municipio', how='inner')
gdf_40.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42"

In [154]:
df_plazas_resi_disca = df_plazas_res_discapacitadas[['Municipio', '2016']]

In [155]:
gdf_41 = pd.merge(gdf_40, df_plazas_resi_disca, on='Municipio', how='inner')
gdf_41.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017,2016
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00"

In [156]:
df_plazas_resi_3edad = df_plazas_res_tercera_edad[['Municipio', '2016']]

In [157]:
gdf_42 = pd.merge(gdf_41, df_plazas_resi_3edad, on='Municipio', how='inner', suffixes=('_41', '_42'))
gdf_42.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017,2016_41,2016_42
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53"

In [158]:
df_pob_est_prof = df_pob_estudios_profes[['Municipio', '2016']]

In [159]:
gdf_43 = pd.merge(gdf_42, df_pob_est_prof, on='Municipio', how='inner')
gdf_43.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017,2016_41,2016_42,2016
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26"

In [160]:
df_pob_est_2 = df_pob_estudios_secundarios[['Municipio', '2016']]

In [161]:
gdf_44 = pd.merge(gdf_43, df_pob_est_2, on='Municipio', how='inner', suffixes=('_43','_44'))
gdf_44.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017,2016_41,2016_42,2016_43,2016_44
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09"

In [162]:
df_pob_est_univ = df_pob_estudios_univer[['Municipio', '2016']]

In [163]:
gdf_45 = pd.merge(gdf_44, df_pob_est_univ, on='Municipio', how='inner')
gdf_45.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017,2016_41,2016_42,2016_43,2016_44,2016
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39"

In [164]:
df_pob_est_fuera_mu = df_poblacion_estudia_fuera_munic[['Municipio', '2011']]

In [165]:
gdf_46 = pd.merge(gdf_45, df_pob_est_fuera_mu, on='Municipio', how='inner', suffixes=('_26', '_46'))
gdf_46.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017,2016_41,2016_42,2016_43,2016_44,2016,2011_46
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89"

In [166]:
df_pob_extranj = df_poblacion_extranjera[['Municipio', '2017']]

In [167]:
gdf_47 = pd.merge(gdf_46, df_pob_extranj, on='Municipio', how='inner', suffixes=('_40','_47'))
gdf_47.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016,2011_46,2017_47
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98"

In [168]:
df_pob_tot = df_poblacion_total[['Municipio', '2017']]

In [169]:
gdf_48 = pd.merge(gdf_47, df_pob_tot, on='Municipio', how='inner')
gdf_48.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016,2011_46,2017_47,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00"

In [170]:
df_pob_trabj_fuera_mu = df_poblacion_trabaja_fuera_munic[['Municipio', '2011']]

In [171]:
pd.options.display.max_columns= None
gdf_49 = pd.merge(gdf_48, df_pob_trabj_fuera_mu, on='Municipio', how='inner')
gdf_49.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016,2011_46,2017_47,2017,2011
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36"

In [172]:
df_poli_local = df_policial_local[['Municipio', '2015']]

In [173]:
gdf_50 = pd.merge(gdf_49, df_poli_local, on='Municipio', how='inner', suffixes=('_11','_50'))
gdf_50.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016,2011_46,2017_47,2017,2011,2015_50
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46"

In [174]:
df_saldo_migra = df_saldo_migratorio[['Municipio', '2017']]

In [175]:
gdf_51 = pd.merge(gdf_50, df_saldo_migra, on='Municipio', how='inner', suffixes=('_48', '_51'))
gdf_51.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016,2011_46,2017_47,2017_48,2011,2015_50,2017_51
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25"

In [176]:
df_suelo_urba = df_suelo_urbano[['Municipio', '2017']]

In [177]:
gdf_52 = pd.merge(gdf_51, df_suelo_urba, on='Municipio', how='inner')
gdf_52.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68"

In [178]:
df_sup_agric = df_superficie_agricola[['Municipio', '2016']]

In [179]:
gdf_53 = pd.merge(gdf_52, df_sup_agric, on='Municipio', how='inner', suffixes=('_45', '_53'))
gdf_53.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017,2016_53
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10"

In [180]:
df_sup_forest = df_superficie_forestal[['Municipio', '2016']]

In [181]:
gdf_54 = pd.merge(gdf_53, df_sup_forest, on='Municipio', how='inner')
gdf_54.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017,2016_53,2016
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72"

In [182]:
df_sup_media_viv = df_superficie_media_viv[['Municipio','2016']]

In [183]:
gdf_55 = pd.merge(gdf_54, df_sup_media_viv, on='Municipio', how='inner', suffixes=('_54', '_55'))
gdf_55.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017,2016_53,2016_54,2016_55
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40"

In [184]:
df_superficie_parques_m2['2009'].str.replace(',','.').astype(float).mean() #hay un NaN - 19.96
df_sup_parq_m2 = df_superficie_parques_m2[['Municipio', '2009']].fillna(19.96)

In [185]:
gdf_56 = pd.merge(gdf_55, df_sup_parq_m2, on='Municipio', how='inner', suffixes=('_8', '_56'))
gdf_56.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017,2016_53,2016_54,2016_55,2009_56
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70","8,75"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20","103,45"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40","8,60"

In [186]:
df_superficie_parques_pers['2009'].str.replace(',','.').astype(float).mean() #hay un NaN - 36.58
df_sup_parq_perso = df_superficie_parques_pers[['Municipio', '2009']].fillna(36.58)

In [187]:
gdf_57 = pd.merge(gdf_56, df_sup_parq_perso, on='Municipio', how='inner')
gdf_57.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017,2016_53,2016_54,2016_55,2009_56,2009
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70","8,75","10,40"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20","103,45","92,02"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40","8,60","14,60"

In [188]:
df_tasa_brt_natalid = df_tasa_bruta_natalidad[['Municipio', '2017']]

In [189]:
gdf_58 = pd.merge(gdf_57, df_tasa_brt_natalid, on='Municipio', how='inner', suffixes=('_52', '_58'))
gdf_58.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017_52,2016_53,2016_54,2016_55,2009_56,2009,2017_58
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70","8,75","10,40","9,04"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20","103,45","92,02","3,06"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40","8,60","14,60","6,29"

In [190]:
df_tiempo_med_acc_carret = df_tiempo_medio_acceso_carret[['Municipio', '2006']]

In [191]:
gdf_59 = pd.merge(gdf_58, df_tiempo_med_acc_carret, on='Municipio', how='inner')
gdf_59.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017_52,2016_53,2016_54,2016_55,2009_56,2009,2017_58,2006
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70","8,75","10,40","9,04","0,88"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20","103,45","92,02","3,06","6,53"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40","8,60","14,60","6,29","0,82"

In [192]:
df_tiempo_med_despl_hosp_ref = df_tiempo_medio_despla_hospital_ref[['Municipio', '2007']]

In [193]:
gdf_60 = pd.merge(gdf_59, df_tiempo_med_despl_hosp_ref, on='Municipio', how='inner')
gdf_60.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017_52,2016_53,2016_54,2016_55,2009_56,2009,2017_58,2006,2007
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70","8,75","10,40","9,04","0,88","12,94"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20","103,45","92,02","3,06","6,53","10,73"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40","8,60","14,60","6,29","0,82","8,60"

In [194]:
df_variacion_poblac_decada['2017'].str.replace(',','.').astype(float).mean() #hay un NaN - 5.51
df_var_pob_10 = df_variacion_poblac_decada[['Municipio', '2017']].fillna(5.51)

In [195]:
gdf_61 = pd.merge(gdf_60, df_var_pob_10, on='Municipio', how='inner')
gdf_61.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011,2015_50,2017_51,2017_52,2016_53,2016_54,2016_55,2009_56,2009,2017_58,2006,2007,2017
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70","8,75","10,40","9,04","0,88","12,94","5,35"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20","103,45","92,02","3,06","6,53","10,73","7,57"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40","8,60","14,60","6,29","0,82","8,60","-0,69"

In [196]:
df_viv_desocu = df_viv_desocupadas[['Municipio', '2011']]

In [197]:
gdf_62 = pd.merge(gdf_61, df_viv_desocu, on='Municipio', how='inner', suffixes=('_49', '_62'))
gdf_62.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011_49,2015_50,2017_51,2017_52,2016_53,2016_54,2016_55,2009_56,2009,2017_58,2006,2007,2017,2011_62
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70","8,75","10,40","9,04","0,88","12,94","5,35","13,36"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20","103,45","92,02","3,06","6,53","10,73","7,57","21,29"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40","8,60","14,60","6,29","0,82","8,60","-0,69","11,36"

In [198]:
df_viv_mas_50 = df_viviendas_mas_50[['Municipio', '2016']]

In [199]:
gdf_63 = pd.merge(gdf_62, df_viv_mas_50, on='Municipio', how='inner')
gdf_63.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011_49,2015_50,2017_51,2017_52,2016_53,2016_54,2016_55,2009_56,2009,2017_58,2006,2007,2017,2011_62,2016
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70","8,75","10,40","9,04","0,88","12,94","5,35","13,36","12,91"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20","103,45","92,02","3,06","6,53","10,73","7,57","21,29","25,79"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40","8,60","14,60","6,29","0,82","8,60","-0,69","11,36","32,58"

In [200]:
df_zona_jueg_inf = df_zona_juegos_infantil[['Municipio','2009']]

In [201]:
gdf_64 = pd.merge(gdf_63, df_zona_jueg_inf, on='Municipio', how='inner', suffixes=('_57','_64'))
gdf_64.head(3)

,Código municipio,Municipio,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,2015_11,2017_12,2017_13,2017_14,2017_15,2017_16,2001,2017_18,2016_19,2017_20,2005_21,2005_22,2016_23,2017_24,2005,2011_26,2017_27,2017_28,2017_29,2017_30,2017_31,2017_32,2017_33,2017_34,2017_35,2016_36,2013_37,2017_38,2016_39,2017_40,2016_41,2016_42,2016_43,2016_44,2016_45,2011_46,2017_47,2017_48,2011_49,2015_50,2017_51,2017_52,2016_53,2016_54,2016_55,2009_56,2009_57,2017_58,2006,2007,2017,2011_62,2016,2009_64
0,48001,Abadiño,43.75,"14,08","0,00","185,36","43,90","0,00","6,35","0,00","3,00","98,90","62,84","2,79","173,90","8,37","5,45","208,83","88,98","20,55","3,98","2,66","212,71","44,28","100,00","3,96","43,85","73,80","38,39","63,42","18,33","12,54","17,92","4,56","64,98","6,38","16,76","57,19","9,33","1,33","0,73","17,95","9,17","0,00","22,59","59,42","18,22","94,05","4,53","7.522,00","66,02","1,06","0,80","4,21","1,19","53,53","89,70","8,75","10,40","9,04","0,88","12,94","5,35","13,36","12,91","8,50"
1,20001,Abaltzisketa,25.00,"3,07","0,00","269,94","52,00","0,00","24,52","0,00","3,00","99,18","19,48","-15,29","151,23","6,13","3,07","28,43","100,00","60,18","0,00","0,00","261,93","49,18","0,00","9,09","52,75","71,60","36,81","73,94","18,35","2,70","5,41","35,14","56,76","12,27","16,82","165,39","0,00","0,00","0,88","0,00","0,00","0,00","18,64","50,18","13,62","100,00","3,98","327,00","74,44","0,00","-3,06","0,21","1,39","52,43","107,20","103,45","92,02","3,06","6,53","10,73","7,57","21,29","25,79","14,93"
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"11,51","0,00","250,51","88,80","0,00","3,42","9,77","3,00","99,45","56,19","-3,35","174,27","6,59","2,82","589,80","94,70","26,64","3,13","3,14","480,39","92,71","145,16","3,35","42,44","67,20","35,56","55,27","17,24","17,56","13,13","1,98","67,33","5,65","13,72","28,05","6,19","1,05","0,76","0,42","0,00","56,53","24,26","61,09","17,39","84,89","1,98","9.543,00","80,36","1,46","3,25","14,68","2,10","35,72","78,40","8,60","14,60","6,29","0,82","8,60","-0,69","11,36","32,58","18,13"

## Hasta ahora hemos ido sumando predictores/variables/indices de sostenibilidad al Dataframe del 2017 con todos los municipios con informacion disponible, y lo hemos añadido al Dataframe con un clasificador y con el porcentaje de participacion. Pero como esta vez el dato de las elecciones del 2019 es el que vamos a predecir, no vamos a añadirlo

In [202]:
def to_float_from_str_decimal(string):
    """ It convert '12,5' to 12.5 """
    try:
        return float(string.replace(',', '.'))
    except:
        return float(string.replace('.','')[:-3])
    
to_float_from_str_decimal('1.900,00')

1900.0

In [203]:
gdf_64.to_csv('convertir2017.csv')

In [204]:
Third_GDF = pd.read_csv('../TFM/1_Data/convertir2017.csv',
                   converters={'2017_2': to_float_from_str_decimal,
                                             '2009_3': to_float_from_str_decimal,
                                             '2009_4': to_float_from_str_decimal,
                                             '2016_5': to_float_from_str_decimal,
                                             '2009_6': to_float_from_str_decimal,
                                             '2017_7': to_float_from_str_decimal,
                                             '2009_8': to_float_from_str_decimal,
                                             '2016_9': to_float_from_str_decimal,
                                             '2013_10': to_float_from_str_decimal,
                                             '2015_11': to_float_from_str_decimal,
                                             '2017_12': to_float_from_str_decimal,
                                             '2017_13': to_float_from_str_decimal,
                                             '2017_14': to_float_from_str_decimal,
                                             '2017_15': to_float_from_str_decimal,
                                             '2017_16': to_float_from_str_decimal,
                                              '2001': to_float_from_str_decimal,
                                             '2017_18': to_float_from_str_decimal,
                                             '2016_19': to_float_from_str_decimal,
                                             '2017_20': to_float_from_str_decimal,
                                             '2005_21': to_float_from_str_decimal,
                                             '2005_22': to_float_from_str_decimal,
                                             '2016_23': to_float_from_str_decimal,
                                             '2017_24': to_float_from_str_decimal,
                                             '2005': to_float_from_str_decimal,
                                             '2011_26': to_float_from_str_decimal,
                                             '2017_27': to_float_from_str_decimal,
                                             '2017_28': to_float_from_str_decimal,
                                             '2017_29': to_float_from_str_decimal,
                                             '2017_30': to_float_from_str_decimal,
                                             '2017_31': to_float_from_str_decimal,
                                             '2017_32': to_float_from_str_decimal,
                                             '2017_33': to_float_from_str_decimal,
                                             '2017_34': to_float_from_str_decimal,
                                             '2017_35': to_float_from_str_decimal,
                                             '2016_36': to_float_from_str_decimal,
                                             '2013_37': to_float_from_str_decimal,
                                             '2017_38': to_float_from_str_decimal,
                                             '2016_39': to_float_from_str_decimal,
                                             '2017_40': to_float_from_str_decimal,
                                             '2016_41': to_float_from_str_decimal,
                                             '2016_42': to_float_from_str_decimal,
                                             '2016_43': to_float_from_str_decimal,
                                             '2016_44': to_float_from_str_decimal,
                                             '2016_45': to_float_from_str_decimal,
                                             '2011_46': to_float_from_str_decimal,
                                             '2017_47': to_float_from_str_decimal,
                                             '2017_48': to_float_from_str_decimal,
                                             '2011_49': to_float_from_str_decimal,
                                             '2015_50': to_float_from_str_decimal,
                                             '2017_51': to_float_from_str_decimal,
                                             '2017_52': to_float_from_str_decimal,
                                             '2016_53': to_float_from_str_decimal,
                                             '2016_54': to_float_from_str_decimal,
                                             '2016_55': to_float_from_str_decimal,
                                             '2009_56': to_float_from_str_decimal,
                                             '2009_57': to_float_from_str_decimal,
                                             '2017_58': to_float_from_str_decimal,
                                             '2006': to_float_from_str_decimal,
                                             '2007': to_float_from_str_decimal,
                                             '2017': to_float_from_str_decimal,
                                             '2011_62': to_float_from_str_decimal,
                                             '2016': to_float_from_str_decimal,
                                             '2009_64': to_float_from_str_decimal,})
Th_GDF = Third_GDF.drop('Unnamed: 0', axis=1)

In [205]:
Th_GDF.to_csv('GDataframe_2017.csv')